@model IEnumerable<EfrashBatek.Models.Design>

@{
    ViewData["Title"] = "Design";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
             Name
           </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Designer.User.FirstName+item.Designer.User.LastName)
            </td>
            @foreach(var img in item.Photos)
            {
                <td><img src="~/Image/Design" alt="image error"/></td>
            }
        </tr>
}
    </tbody>
</table>
