@model EfrashBatek.Models.Design

@{
    Layout = "CustomerLayout";
}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/favicon.ico" href="/image/favicon.png">
    <link rel="stylesheet" href="css/product details.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--ICONS LINK-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Efresh Beitak</title>
</head>

<body>

    <!--main home section-->
    <section class="main-home">
        <div class="cartcard">
            <i class="uil uil-multiply" id="close"></i>

            <div class="brand">
                <div class="border">
                    <h2>cart</h2>
                    <h3>You have 0 item in your bag</h3>
                </div>
                <img src="image/cartborder.jpeg">
                <p class="empty">Your cart is empty</p>
                <input type="submit" value="start Shopping">
                <div class="total">
                    <p class="totall">total</p>
                    <button class="green">View your cart </button>
                    <button class="black">check out </button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="item1">
                <div class="breadcrumb">
                    <ul class="breadcrumb">
                        <li><a href="main.html"><i class='bx bx-home'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="item2">
                <center>
                    <h2>Designer details</h2>
                </center>
                <div class="flex-box">
                    <div class="left">
                        <div class="big-img">
                            <img src="image/00.webp">
                        </div>
                        <div class="images">
                            <div class="small-img">
                                <img src="image/00.webp" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img src="image/00.webp" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img src="image/00.webp" onclick="showImg(this.src)">
                            </div>
                            <div class="small-img">
                                <img src="image/00.webp" onclick="showImg(this.src)">
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <br>
                        <br>
                        <div class="dname"><h3>Name : </h3></div>
                        <div class="ratings">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <div class="Contact"><h3>Contact : </h3></div>
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <!-- contact-section -->
            <section class="contact">
                <div class="contact-info">
                    <div class="first-info">
                        <img src="image/logo.png" alt="">

                        <p>01601348732</p>
                        <p>efresh.beitak@gmail.com</p>

                        <div class="social-icon">
                            <a href="#"><i class='bx bxl-facebook'></i></a>
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-youtube'></i></a>
                            <a href="#"><i class='bx bxl-linkedin'></i></a>
                        </div>
                    </div>

                    <div class="second-info">
                        <h4>Support</h4>
                        <a href="contact us.html">
                            <p>Contact us</p>
                        </a>
                        <a href="about us.html">
                            <p>About page</p>
                        </a>
                        <p>Shopping & Resturns</p>
                        <p>Privacy</p>
                    </div>

                    <div class="third-info">
                        <h4>Shop</h4>
                        <p>electronic</p>
                        <p>home</p>
                        <p>Furniture</p>
                        <p>kitchen</p>
                    </div>

                    <div class="five">
                        <h4>JOIN OUR EMAIL NEWSLETTER</h4>
                        <form>
                            <div class="form-group">
                                <input type="text" class="Input" placeholder="Enter Your Email." /><br><br>
                                <button type="submit" class="btn btn-default submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </section>

    <script>
        let bigImg = document.querySelector('.big-img img');
        function showImg(pic) {
            bigImg.src = pic;
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#cart").click(function () {
                $(".cartcard").css("position", "fixed");
                $(".cartcard").css("right", "0px")
                $("#close").css("right", "0");
                $(".cartcard").css("z-index", "99999999");
                $(".brand").css("height", "100vh");
                $(".down").hide()
                $(".main-text").css("opacity", "0.5")
                $("header").addClass("sticky");


            })
        })
        $(document).ready(function () {
            $("#close").click(function () {
                $("header").show()
                $(".main-text").css("opacity", "1")
                $(".down").fadeIn()
            })
        })

    </script>
    <script src="js/cart.js"></script>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
