@model EfrashBatek.ViewModel.ChangePasswordVM
<form asp-action="UpdatePassword" asp-controller="Account">
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword"class="form-control" placeholder="Enter Current Password">
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" placeholder="Enter New Password">
        <span asp-validation-for="NewPassword"></span>

    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm Password">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>