<div class="sc-58e23d11-2 jHquig"><div class="forgot-password-success-icon">
    <img src="https://f.nooncdn.com/s/app/com/noon/images/account/success-tick.svg" alt="forgot-password-success"
    width="30px" height="30px" class="sc-b51db3f-1 haBTOq"></div><div data-qa="div_forgotPasswordSuccessHeader"
    class="forgot-password-success-header">Password Reset Email Sent</div><div class="forgot-password-success-subtitle">
    We have sent you a reset password link to your email, please check your inbox.</div></div>
<div class="sc-58e23d11-8 lhHjiH">
    <a asp-action="Login" asp-controller="Account">
        <button id="login-submit" data-qa="btn_Back to Login"
                class="sc-58e23d11-9 gKDJvb confirm">
            Back to Login
        </button>
    </a>
</div>