@{
    ViewData["Title"] = "Email Confirmed";
}
@{
    Layout = "";
}
<link rel="stylesheet" href="~/css/confim.css">

<center>
    <h1>Email Confirmed</h1>
    <img src="~/Image/confirm2.png" width=150px>
    <h4>Your email address has been confirmed. Thank you for registering!</h4>
</center>