@model EfrashBatek.ViewModel.ForgetPasswordVM

@{
    Layout="";
}

@*<link rel="stylesheet" href="~/css/confim.css">

<h1>Forget Password</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Enter Your Email : </label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Send Verfication" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<center>
    <div>
        <a asp-action="Login">Log In</a>
    </div>
</center>*@

    <!DOCTYPE html>
    <!-- Created By CodingLab - www.codinglabweb.com -->
    <html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> Forget Password</title>
        <link rel="stylesheet" href="~/css/forgetpassword.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="title">Forget Password</div>
            <div class="content">
            <form asp-action="ForgetPassword">
                    <div class="user-details">
                        <div class="input-box">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" type="email" placeholder="Enter your email">
                            <span asp-validation-for="Email" class="details"></span>
                            
                        </div>
                    </div>
                    <div class="button">
                    <input type="submit" value="Reset password">
                    </div>
                </form>
            <div>
                <a asp-action="Login">Log In</a>
            </div>
            </div>
        </div>
    </body>
    </html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}