

@{
    Layout = "~/Views/Account/LayoutAccount.cshtml";
 }
@model EfrashBatek.ViewModel.LoginViewModel

@{

    ViewData["Title"] = "Login";
}
<div class="login form">
    <header>Login</header>
    <form asp-action="Login" asp-controller="Account">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="UserName" type="text" placeholder="Enter your username">
       
        <span asp-validation-for="UserName" ></span>



        <input asp-for="Password" type="password" placeholder="Enter your password">
        <span asp-validation-for="Password" ></span>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input asp-for="isPersistent" /> Remember Me
            </label>
        </div>
        <a href="#">Forgot password?</a>
        <input type="submit" value="Login" class="button" />
    </form>
    <div class="signup">
        <span class="signup">
            Don't have an account?

            <a class="nav-link text-dark" asp-controller="Account" asp-action="SignUp">
                <label >SignUp</label>
            </a>

             
        </span>
    </div>
</div>

 