@{
    ViewData["Title"] = "Email Not Confirmed";
}

<center>
    <h1>Email Not Confirmed</h1>
    <img src="~Image\confirm3.png" width=150px>
    <h4>Your email address has been Not confirmed. PLease Confirm Your Email !</h4>
</center>