<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/favicon.ico" href="/image/favicon.png">
    <!-- CSS-link -->
    <link rel="stylesheet" href="css/about us.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Efresh Beitak</title>
    </head>

    <body>
        <!--header section-->
<!--                            sama                                           -->
        <header>
            <a href="main.html" class="logo"><img src="image/logo.png" alt=""></a>

            <ul class="navmenu">
                <li><a href="product page.html">Products</a></li>
                <li><a href="trend.html">Trends</a></li>
                <li><a href="Empty.html">Custom order</a></li>
                <li><a href="Empty.html">Designs</a></li>
            </ul>


            <div class="nav-icon">
                <a href="main.html"><i class='bx bx-search'></i></a>
                <a href="log.html"><i class='bx bx-user'></i></a>
                <a href="cart.html"><i class='bx bx-cart'></i></a>
                <a href="wishlist.html"><i class='bx bx-heart' undefined></i></a>
                <div class="bx bx-menu" id="menu-icon"></div>
            </div>


        </header>

    <section class="main-home">
        <div class="main-text">
            <h1>we bring <span>solution</span><br> to make life easier<br> for our customer</h1>
        </div>

        <div class="down-arrow">
            <a href="#trending" class="down"><i class='bx bx-down-arrow-alt'></i></a>
        </div>
    </section>

    <!-- trending-products-section -->
    <section class="trending-product" id="trending">
        <h3> The online furniture website "Efresh Betak"<br> is intended to provide complete solutions for sellers as
            well as customers through a single gateway using the internet as a sole medium,<br> especially for people in
            Qena who always suffer from the lack of products and they go to other governments to look for what they
            need.<br> It will enable sellers to setup online furniture shops.<br> Customer to browse through the shop
            and purchase them online without having to visit the shop physically.<br> The administration module will
            enable a system administrator to approve and reject requests for new shops and maintain various lists of
            shop category.
            <br> This document is meant to discuss the features of the online furniture website, <br>so as to serve as a
            guide to the developers on one hand and a software validation document for the prospective client on the
            other.</p>
        </h3>
    </section>

    </section>

    <footer>

      <!-- contact-section -->
      <section class="contact">
        <div class="contact-info">
          <div class="first-info">
            <img src="image/logo.png" alt="">
            <p>+201004443226</p>
            <p>efresh.beitak@gmail.com</p>

          </div>

          <div class="second-info">
            <h4>Support</h4>
            <a href="contact us.html">
              <p>Contact us</p>
            </a>
            <a href="about us.html">
              <p>About page</p>
            </a>
            <p>Shopping & Resturns</p>
            <p>Privacy</p>
          </div>

          <div class="third-info">
            <h4>Shop</h4>
            <p>electronic</p>
            <p>home</p>
            <p>Furniture</p>
            <p>kitchen</p>
          </div>

          <div class="five">
            <h4>JOIN OUR EMAIL NEWSLETTER</h4>
            <form>
              <div class="form-group">
                <input type="text" class="Input" placeholder="Enter Your Email." /><br><br>
                <button type="submit" class="btn btn-default submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </footer>
    <script src="js/main.js"></script>

</body>

</html>
