<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/cart2.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <title>Efresh Beitak</title>
  </head>

  <body>
      <!--header section-->

      <header>
          <a href="main.html" class="logo"><img src="image/logo.png" alt=""></a>

          <ul class="navmenu">
              <li><a href="product page.html">Products</a></li>
             <!--<li><a href="trend.html">Trends</a></li>--> 
              <li><a href="Empty.html">Custom order</a></li>
              <li><a href="Empty.html">Designs</a></li>
          </ul>


          <div class="nav-icon">
              <a href="main.html"><i class='bx bx-search'></i></a>
              <a href="log.html"><i class='bx bx-user'></i></a>
              <a href="cart.html"><i class='bx bx-cart'></i></a>
              <a href="wishlist.html"><i class='bx bx-heart' undefined></i></a>
              <div class="bx bx-menu" id="menu-icon"></div>
          </div>


      </header>


  <main>
    <div class="basket">

      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>

      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="image/1.jpg" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity">1</span> Comfortable Armchair</strong></h1>

          </div>
        </div>
        <div class="price">5000L.E</div>
        <div class="quantity">
          <input type="number" value="1" min="1" class="quantity-field" style="background-color: #cbaab1; text-align: center;">
        </div>
        <div class="subtotal">5000L.E</div>
        <div class="remove">
          <button>Remove</button>
        </div>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="image/2.png" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity">1</span> Bedroom

          </div>
        </div>
        <div class="price">500L.E</div>
        <div class="quantity">
          <input type="number" value="2" min="1" class="quantity-field" style="background-color: #cbaab1; text-align: center;">
        </div>
        <div class="subtotal">500L.E</div>
        <div class="remove">
          <button>Remove</button>
        </div>
      </div>

    </div>
    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Order Summary
        </div>
        <div class="summary-subtotal">
          <div class="subtotal-title">Subtotal</div>
          <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
          <div class="summary-promo hide">
            <div class="promo-title">Promotion</div>
            <div class="promo-value final-value" id="basket-promo"></div>
          </div>
        </div>
        <div class="summary-delivery">

        </div>
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">130.00</div>
        </div>
        <div class="summary-checkout">
            <a href="orderinfo.html"><button class="checkout-cta">Go to Secure Checkout</button></a>
        </div>
      </div>
    </aside>
  </main>

    <footer>

      <!-- contact-section -->
      <section class="contact">
        <div class="contact-info">
          <div class="first-info">
            <img src="image/logo.png" alt="">
            <p>+201004443226</p>
            <p>efresh.beitak@gmail.com</p>

          </div>

          <div class="second-info">
            <h4>Support</h4>
            <a href="contact us.html">
              <p>Contact us</p>
            </a>
            <a href="about us.html">
              <p>About page</p>
            </a>
            <p>Shopping & Resturns</p>
            <p>Privacy</p>
          </div>

          <div class="third-info">
            <h4>category</h4>
            <p>Home Appliances</p>
            <p>Kitchen utensils</p>
            <p>Furniture</p>
            <p>kitchen</p>
          </div>

          <div class="five">
            <h4>JOIN OUR EMAIL NEWSLETTER</h4>
            <form>
              <div class="form-group">
                <input type="text" class="Input" placeholder="Enter Your Email." /><br><br>
                <button type="submit" class="btn btn-default submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </footer>
  <script src="js/cartitem.js"></script>

</body>

</html>
