<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/cart2.css">

  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


  <title>Efresh Beitak</title>
</head>

<body>
  <main>
    <div class="basket">

      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Item</li>
          <li class="price">Price</li>
          <li class="quantity">Quantity</li>
          <li class="subtotal">Subtotal</li>
        </ul>
      </div>

      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="image/1.jpg" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong> Comfortable Armchair</strong></h1>

          </div>
        </div>
        <div class="price">5000L.E</div>
        <div class="quantity">
          <input type="number" value="1" min="1" class="quantity-field"
            style="background-color: #ffff; text-align: center;">
        </div>
        <div class="subtotal">5000L.E</div>
        <div class="remove">
          <button>Remove</button>
        </div>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="image/2.png" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong> Bedroom</strong></h1>

          </div>
        </div>
        <div class="price">500L.E</div>
        <div class="quantity">
          <input type="number" value="2" min="1" class="quantity-field"
            style="background-color: #ffff; text-align: center;">
        </div>
        <div class="subtotal">500L.E</div>
        <div class="remove">
          <button>Remove</button>
        </div>
      </div>

    </div>
    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Order Summary
        </div>
        <div class="summary-subtotal">
          <div class="subtotal-title">item prices</div>
          <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>

        </div>

        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">130.00</div>
        </div>
        <div class="summary-checkout">
          <a href="orderinfo.html"><button class="checkout-cta">Go to Secure Checkout</button></a>
        </div>
      </div>
    </aside>
  </main>

  <script src="js/cart.js"></script>

</body>

</html>