<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Profile</title>
	<link rel="icon" type="image/favicon.ico" href="/image/favicon.png" >
	<!-- CSS-link -->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
		rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/Checkout address.css">
</head>

<body>
	<!--ICONS-->
	<div class="x">
        <ul class="icons">
            <ul>
                <li class="hover" style="padding: 10px;">
                    <i class='bx bxs-location-plus' style=" font-size: 35px;"></i>
                </li>
                <li>
                    <h2>Shipping</h2>
                </li>
            </ul>
            <ul>
                <li class="hover" style="padding: 10px 10px 10px 15px; padding: auto;">
                    <i class='bx bx-credit-card' style=" font-size: 35px;"></i>
                </li>
                <li>
                    <h2>Payment</h2>
                </li>
            </ul>
            <ul>
                <li class="hover" style="padding: 10px;">
                    <i class='bx bx-badge-check' style=" font-size: 35px;"></i>
                </li>
                <li>
                    <h2>Confirmation</h2>
                </li>
            </ul>
        </ul>
    </div>
	<!--ADDRESS DETAILS-->
	<div id="address" role="tabpanel" aria-labelledby="address-tab">
		<h3 class="mb-4">Address Settings</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>First Name</label>
					<input type="text" class="form-control" value="First Name">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" class="form-control" value="Last Name">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Street Name</label>
					<input type="text" class="form-control" value="St.">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Building Number</label>
					<input type="text" class="form-control" value="Building Number">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Appartment Number</label>
					<input type="text" class="form-control" value="Apartment Number">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Postal Code</label>
					<input type="text" class="form-control" value="Postal Code">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Phone Number</label>
					<input type="text" class="form-control" value="Phone Number">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>City</label>
					<select id="citySelect" class="form-control">
						<option value="null">Select</option>
						<option value="100">
							10th of Ramadan
						</option>
						<option value="78">
							15th of May
						</option>
						<option value="38">
							6th of Oct
						</option>
						<option value="90">
							Abbaseya
						</option>
						<option value="68">
							Abdeen
						</option>
						<option value="29">
							Abou Rawash
						</option>
						<option value="21">
							Abu an Numros
						</option>
						<option value="30">
							Agouza
						</option>
						<option value="58">
							Ain Shams
						</option>
						<option value="81">
							Al Abageyah
						</option>
						<option value="80">
							Al Amiriyyah
						</option>
						<option value="86">
							Al Ayat
						</option>
						<option value="84">
							Al Badrashin
						</option>
						<option value="14">
							Al Baragel
						</option>
						<option value="93">
							Al Khusus
						</option>
						<option value="23">
							Al Manawat
						</option>
						<option value="15">
							Al Moatamadeyah
						</option>
						<option value="19">
							Al Monib
						</option>
						<option value="59">
							Al Salam
						</option>
						<option value="91">
							Al Sharabiya
						</option>
						<option value="5">
							Alexandria
						</option>
						<option value="13">
							Ard El Lewa
						</option>
						<option value="1">
							Aswan
						</option>
						<option value="113">
							aswann
						</option>
						<option value="2">
							Asyut
						</option>
						<option value="95">
							Awal Shubra Al Kheimah
						</option>
						<option value="69">
							Bab El-Shaeria
						</option>
						<option value="74">
							Badr City
						</option>
						<option value="75">
							Basateen
						</option>
						<option value="12">
							Beheira
						</option>
						<option value="108">
							Beni Suef
						</option>
						<option value="71">
							Boulak
						</option>
						<option value="32">
							Boulak Eldakrour
						</option>
						<option value="103">
							CFC
						</option>
						<option value="43">
							Dakahlia
						</option>
						<option value="111">
							Damietta
						</option>
						<option value="31">
							Dokki
						</option>
						<option value="65">
							El Azbakia
						</option>
						<option value="70">
							El Gamalia
						</option>
						<option value="18">
							El Giza
						</option>
						<option value="85">
							El Hadba EL wosta
						</option>
						<option value="83">
							El Hawamdeyya
						</option>
						<option value="60">
							El Marg
						</option>
						<option value="66">
							El Mosky
						</option>
						<option value="99">
							El Obour City
						</option>
						<option value="9">
							El Qoseir
						</option>
						<option value="87">
							El Saf
						</option>
						<option value="55">
							El Shorouk
						</option>
						<option value="26">
							El Talbia
						</option>
						<option value="107">
							El Wadi el Gedid
						</option>
						<option value="67">
							El Waily
						</option>
						<option value="89">
							El Zaher
						</option>
						<option value="94">
							El Zawya El Hamra
						</option>
						<option value="73">
							ELdarb Elahmar
						</option>
						<option value="101">
							Elsayeda Aisha
						</option>
						<option value="76">
							Elsayeda Zeinab
						</option>
						<option value="49">
							Eltebeen
						</option>
						<option value="48">
							Fayoum
						</option>
						<option value="97">
							Future City
						</option>
						<option value="88">
							Ghamra
						</option>
						<option value="47">
							Gharbia
						</option>
						<option value="33">
							Hadayek Al Ahram
						</option>
						<option value="77">
							Hadayek El Qobah
						</option>
						<option value="34">
							Haram
						</option>
						<option value="61">
							Heliopolis
						</option>
						<option value="79">
							Helwan
						</option>
						<option value="6">
							Hurghada
						</option>
						<option value="35">
							Imbaba
						</option>
						<option value="3">
							Ismailia
						</option>
						<option value="102">
							Izbat an Nakhl
						</option>
						<option value="115">
							Kafr El Sheikh
						</option>
						<option value="16">
							Kafr Hakim
						</option>
						<option value="28">
							Kafr Nassar
						</option>
						<option value="27">
							Kafr Tuhurmis
						</option>
						<option value="4">
							Luxor
						</option>
						<option value="50">
							Maadi
						</option>
						<option value="51">
							Madinaty
						</option>
						<option value="52">
							Manial
						</option>
						<option value="7">
							Marsa Alam
						</option>
						<option value="53">
							Masr El Qadeema
						</option>
						<option value="116">
							Matruh
						</option>
						<option value="106">
							Minya
						</option>
						<option value="36">
							Mohandseen
						</option>
						<option value="117">
							Mokattam
						</option>
						<option value="105">
							Monufia
						</option>
						<option value="37">
							Nahia
						</option>
						<option value="63">
							Nasr City
						</option>
						<option value="25">
							Nazlet Al Batran
						</option>
						<option value="24">
							Nazlet El Semman
						</option>
						<option value="54">
							New Cairo
						</option>
						<option value="98">
							New Heliopolis City
						</option>
						<option value="44">
							North Coast
						</option>
						<option value="62">
							Nozha
						</option>
						<option value="40">
							Omraneya
						</option>
						<option value="17">
							Ossim
						</option>
						<option value="109">
							Port Said
						</option>
						<option value="104">
							Qalyubia
						</option>
						<option value="72">
							Qasr elneil
						</option>
						<option value="114">
							Qena
						</option>
						<option value="8">
							Ras Ghareb
						</option>
						<option value="11">
							Red Sea
						</option>
						<option value="92">
							Rod El Farag
						</option>
						<option value="10">
							Safaga
						</option>
						<option value="41">
							Saft El Laban
						</option>
						<option value="20">
							Saqiyet Mekki
						</option>
						<option value="46">
							Sharqia
						</option>
						<option value="39">
							Sheikh Zayed
						</option>
						<option value="118">
							Sheikh Zayed\6th of Oct
						</option>
						<option value="56">
							Shoubra
						</option>
						<option value="96">
							Shubra El Kheima 2
						</option>
						<option value="22">
							Shubra Ment
						</option>
						<option value="112">
							Sohag
						</option>
						<option value="110">
							South Sinai
						</option>
						<option value="45">
							Suez
						</option>
						<option value="82">
							Tura
						</option>
						<option value="42">
							Warraq
						</option>
						<option value="64">
							Zamalek
						</option>
						<option value="57">
							Zeitoun
						</option>
					</select>
				</div>
			</div>
			<input type="submit" class="btnRegister" value="Continue" />
		</div>
	</div>
	<!--ORDER SUMMARY-->
	<aside>
		<div class="summary">
			<div class="summary-total-items"><span class="total-items"></span> Order Summary
			</div>
			<div class="summary-subtotal">
				<div class="subtotal-title">Subtotal</div>
				<div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
				<div class="summary-promo hide">
					<div class="promo-title">Promotion</div>
					<div class="promo-value final-value" id="basket-promo"></div>
				</div>
			</div>
			<div class="summary-delivery"> </div>
			<div class="summary-total">
				<div class="total-title">Total</div>
				<div class="total-value final-value" id="basket-total">130.00</div>
			</div>
			<div class="summary-checkout">
				<a href="orderinfo.html"><button class="checkout-cta">Go to Secure Checkout</button></a>
			</div>
		</div>
		    
	</aside>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>

</html>
