<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default Address</title>
   
    <!-- CSS-link -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/default address.css">
</head>

<body>
    <!------------------------------------------------ Icons ------------------------------->
    <div class=" row justify-content-start ">
        <ul id="address" class=" hr steps icons col-sm-11 col-md-11 col-lg-9 col-xl-9 bg-white">
            
                <li class="word">
                    <a href="default address.html">
                        <i class='bx bxs-location-plus' style=" font-size: 38px;"></i>
                        <h2 class="word">Shipping</h2>
                    </a>
                </li>

            
                <li class="word">
                    <a href="payment method.html">
                        <i class='bx bx-credit-card' style=" font-size: 38px;"></i>
                        <h2 class="word">Payment</h2>
                    </a>
                </li>
            
                <li class="word">
                    <a href="Order Confirmation.html">
                        <i class='bx bx-badge-check' style=" font-size: 38px;"></i>
                        <h2 class="word">Confirmation</h2>
                    </a>
                </li>
        </ul>
    </div>
    <!------------------------------------------------ Icons ------------------------------->


    <!----------------------------------- ADDRESS BOXXX ----------------------------------->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
            <div id="address" role="tabpanel" aria-labelledby="address-tab">
                <h3 class="mb-3">Shipping</h3>
                <h5 class="mb-3">Home Delivery</h5>
                <h7 class="mb-3">Choose your default address</h7>
                <p class="new" style="float: right;">
                    <a href="Checkout Address.html">
                        <i class='bx bx-plus-circle'></i> add new address
                </p>
                </a>
                <div class="addressFORM">
                    <div class="address-row">
                        <div class="addressBOX">
                            <div class="control d-flex justify-content-between">
                                <input type="radio" name="address" value="address1" class="run">
                            <i class='bx bxs-edit' id="tst"></i>
                            <!-- data set here -->
                        </div>
                            <div class="ADDRESSDETAILS">
                                <br>
                                <span>Qena </span>
                                <br>
                                <span>Jameela</span>
                                <br>
                                <span>01004245652</span>
                                <br>
                                <span>St.</span>
                            </div>
                        </div>
                        <!-- adress2 -->
                        <div class="addressBOX">
                            <div class="control d-flex justify-content-between">
                                <input type="radio" name="address" value="address1" class="run">
                            <i class='bx bxs-edit' id="tst"></i>
                            <!-- data set here -->
                        </div>
                            <div class="ADDRESSDETAILS">
                                <br>
                                <span>Qena </span>
                                <br>
                                <span>Jameela</span>
                                <br>
                                <span>01004245652</span>
                                <br>
                                <span>St.</span>
                            </div>
                        </div>
                        <!-- address3 -->
                        <div class="addressBOX">
                            <div class="control d-flex justify-content-between">
                                <input type="radio" name="address" value="address1" class="run">
                            <i class='bx bxs-edit' id="tst"></i>
                            <!-- data set here -->
                        </div>
                            <div class="ADDRESSDETAILS">
                                <br>
                                <span>Qena </span>
                                <br>
                                <span>Jameela</span>
                                <br>
                                <span>01004245652</span>
                                <br>
                                <span>St.</span>
                            </div>
                        </div>
                        <!-- address4 -->
                        <div class="addressBOX">
                            <div class="control d-flex justify-content-between">
                                <input type="radio" name="address" value="address1" class="run">
                            <i class='bx bxs-edit' id="tst"></i>
                            <!-- data set here -->
                        </div>
                            <div class="ADDRESSDETAILS">
                                <br>
                                <span>Qena </span>
                                <br>
                                <span>Jameela</span>
                                <br>
                                <span>01004245652</span>
                                <br>
                                <span>St.</span>
                            </div>
                        </div>

                    </div>
                </div>
                <form action="payment method.html">
                    <input type="submit" class="btnRegister" value="Next" />
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <aside>
                <div class="summary">
                    <div class="summary-total-items"><span class="total-items"></span> Order Summary
                    </div>
                    <div class="summary-subtotal">
                        <div class="subtotal-title">Subtotal</div>
                        <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
                        <div class="summary-promo hide">
                            <div class="promo-title">Promotion</div>
                            <div class="promo-value final-value" id="basket-promo"></div>
                        </div>
                    </div>
                    <div class="summary-delivery">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex mb-2">
                                        <div class="flex-shrink-0">
                                            <img src="image/1.jpg" alt="" width="35" class="img-fluid">
                                        </div>
                                        <div class="flex-lg-grow-1 ms-3">
                                            <h6 class="small mb-0"><a href="#" class="text-reset">Chair</a></h6>
                                            <span class="small">Color: Black</span>
                                        </div>
                                    </div>
                                </td>
                                <td>1</td>
                                <td class="text-end">79.99 EGP</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex mb-2">
                                        <div class="flex-shrink-0">
                                            <img src="image/1.jpg" alt="" width="35" class="img-fluid">
                                        </div>
                                        <div class="flex-lg-grow-1 ms-3">
                                            <h6 class="small mb-0"><a href="#" class="text-reset">Chair</a></h6>
                                            <span class="small">Color: Black</span>
                                        </div>
                                    </div>
                                </td>
                                <td>1</td>
                                <td class="text-end">79.99 EGP</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex mb-2">
                                        <div class="flex-shrink-0">
                                            <img src="image/1.jpg" alt="" width="35" class="img-fluid">
                                        </div>
                                        <div class="flex-lg-grow-1 ms-3">
                                            <h6 class="small mb-0"><a href="#" class="text-reset">Chair</a></h6>
                                            <span class="small">Color: Black</span>
                                        </div>
                                    </div>
                                </td>
                                <td>1</td>
                                <td class="text-end">79.99 EGP</td>
                            </tr>
                        </tbody>
                    </div>
                    <div class="summary-total">
                        <div class="total-title">Total</div>
                        <div class="total-value final-value" id="basket-total">130.00</div>
                    </div>
                    <div class="summary-checkout">
                        <a href="orderinfo.html"><button class="checkout-cta">Go to Secure Checkout</button></a>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>