<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efresh Beitak</title>
    <!-- CSS-link -->
    <link rel="stylesheet" href="css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>

    <header>
      <a href="main.html" class="logo"><img src="image/logo.png" alt=""></a>

      <ul class="navmenu">
          <li><a href="trend.html">Products</a></li>
          <li><a href="Empty.html">Custom order</a></li>
          <li><a href="Empty.html">Designs</a></li>
          <li><a href="about us.html">About Us</a></li>
          <li><a href="log.html">Log in</a></li>
      </ul>

      <div class="nav-icon">
          <a href="profile.html"><i class='bx bx-user'></i></a>
          <a href="cart.html"><i class='bx bx-cart'></i></a>
          <a href="wishlist.html"><i class='bx bx-heart' undefined></i></a>
      </div>
    </header>


    <section class="main-home">
      <div>
        <center><h1>This Page is still Empty</h1></center>
      </div>
    </section>

    <script src="main.js"></script>


</body>

</html>
