<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efresh Beitak</title>
    <!-- CSS-link -->
    <link rel="stylesheet" href="css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>

    <header>
      <a href="main.html" class="logo"><img src="image/logo.png" alt=""></a>

      <ul class="navmenu">
          <li><a href="trend.html">Products</a></li>
          <li><a href="Empty.html">Custom order</a></li>
          <li><a href="Empty.html">Designs</a></li>
          <li><a href="about us.html">About Us</a></li>
          <li><a href="log.html">Log in</a></li>
      </ul>

      <div class="nav-icon">
          <a href="profile.html"><i class='bx bx-user'></i></a>
          <a href="cart.html"><i class='bx bx-cart'></i></a>
          <a href="wishlist.html"><i class='bx bx-heart' undefined></i></a>
      </div>
    </header>

    <section class="main-home">
        <div class="main-text">
            <h1>we bring <span>solution</span><br> to make life easier<br> for our customer</h1>
            <a href="Empty.html" class="main-btn">customize order<i class='bx bx-right-arrow-alt'></i></a>
        </div>

        <div class="down-arrow">
            <a href="#trending" class="down"><i class='bx bx-down-arrow-alt'></i></a>
        </div>
    </section>

    <!-- trending-products-section -->
    <section class="trending-product" id="trending">
        <div class="center-text">
            <h2>Our Trending <span>products</span></h2>
        </div>

        <div class="products">
            <div class="row">
              <a href="product details.html"> <img src="image/30.avif" alt=""></a>
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                </div>

                <div class="price">
                    <h4>comfortable armchair</h4>
                    <p>$99</p>
                    <p style="text-decoration: line-through">$129</p>
                </div>
            </div>

            <div class="row">
                <a href="product details.html"> <img src="image/2.png" alt=""> </a>
                <div class="product-text">
                    <h5>New</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>bedroom</h4>
                    <p>$99</p>
                </div>
            </div>

            <div class="row">
                <a href="product details.html">  <img src="image/3.jpg" alt=""> </a>

                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>bookshelf</h4>
                    <p>$129</p>
                </div>
            </div>

            <div class="row">
                <a href="product details.html"> <img src="image/4.jpg" alt=""> </a>
                <div class="product-text">
                    <h5>Hot</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Half Fancy Lady Dress</h4>
                    <p>$139</p>
                </div>
            </div>

            <div class="row">
                <a href="product details.html">  <img src="image/5.png" alt=""></a>

                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Flix Flox Jeans</h4>
                    <p>$99</p>
                </div>
            </div>

            <div class="row">
                <a href="product details.html">   <img src="image/6.jpg" alt=""> </a>
                <div class="product-text" style="background-color: black;">
                    <h5>sold out</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Fancy Salwar Suits</h4>
                    <p>$129</p>
                </div>
            </div>

            <div class="row">
                <a href="product details.html"><img src="image/7.jpg" alt=""></a>
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Printed Straight Kurta</h4>
                    <p>$80</p>
                    <p style="text-decoration: line-through">$110</p>
                </div>
            </div>

            <div class="row">
                <a href="product details.html">  <img src="image/8.jpg" alt=""> </a>
                <div class="product-text">
                    <h5>Sale</h5>
                </div>
                <div class="heart-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="ratting">
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bx-star'></i>
                    <i class='bx bxs-star-half'></i>
                </div>

                <div class="price">
                    <h4>Crispy Air Fryer Cauliflower</h4>
                    <p>$129</p>
                    <p style="text-decoration: line-through">$200</p>
                </div>
            </div>
        </div>

    </section>

    <!-- Client-Review-section -->

    <section class="client-reviews">
        <div class="reviews">
            <h3>Client Reviews</h3>
            <img src="image/client.png" alt="">
            <p>I recently purchased a new sofa from Efresh-betak and I couldn't be happier with my purchase.<br> The
                selection was huge and the prices were very reasonable. I was also impressed with the customer service.
                I had a few questions about the sofa and the customer service representative was very helpful and
                knowledgeable. He answered all of my questions and even helped me choose the right sofa for my needs.
                <br>The sofa was delivered on time and in perfect condition. The delivery men were very professional and
                they took the time to set up the sofa for me. I would definitely recommend Efresh-betak to anyone
                looking for new furniture.
            </p>

            <h2>layla ali</h2>
            <p> Doctor </p>
        </div>
    </section>
    <!-- contact-section -->
    <section class="contact">
        <div class="contact-info">
            <div class="first-info">
                <img src="image/logo.png" alt="">

                <p>01601348732</p>
                <p>efresh.beitak@gmail.com</p>

                <div class="social-icon">
                    <a href="Empty.html"><i class='bx bxl-facebook'></i></a>
                    <a href="Empty.html"><i class='bx bxl-twitter'></i></a>
                    <a href="Empty.html"><i class='bx bxl-instagram'></i></a>
                    <a href="Empty.html"><i class='bx bxl-youtube'></i></a>
                    <a href="Empty.html"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>

            <div class="second-info">
                <h4>Support</h4>
                <a href="contact us.html">
                    <p>Contact us</p>
                </a>
                <a href="about us.html"> <p>About page</p></a>
                <p>Shopping & Resturns</p>
                <p>Privacy</p>
            </div>

            <div class="third-info">
                <h4>Shop</h4>
                <p>electronic</p>
                <p>home</p>
                <p>Furniture</p>
                <p>kitchen</p>
            </div>

            <div class="five">
                <h4>JOIN OUR EMAIL NEWSLETTER</h4>
                <form>
                    <div class="form-group">
                        <input type="text" class="Input" placeholder="Enter Your Email." /><br><br>
                        <button type="submit" class="btn btn-default submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="main.js"></script>

</body>

</html>
