<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="Order Confirmation.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <title>Order Confirmation</title>
</head>
<body>
    <div class="x">
		<ul class="icons">
			<ul>
				<li class="hover" style="padding: 15px; margin-left: 8px;">
					<i class='bx bxs-location-plus' style=" font-size: 38px;"></i>
				</li>
				<li>
					<h2 style="margin: 0 0 15px 15px; font-size: medium;">Shipping</h2>
				</li>
			</ul>
			<ul>
				<li class="hover" style="padding: 10px 10px 10px 15px;">
					<i class='bx bx-credit-card' style=" font-size: 38px;"></i>
				</li>
				<li>
					<h2 style=" font-size: medium;">Payment</h2>
				</li>
			</ul>
			<ul>
				<li class="hover" style="padding: 15px; margin-right: 8px;">
					<i class='bx bx-badge-check' style=" font-size: 38px;"></i>
				</li>
				<li>
					<h2 style="margin: 0 15px 15px 0; font-size: medium;">Confirmation</h2>
				</li>
			</ul>
		</ul>
	</div>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
          <i class="checkmark">✓</i>
        </div>
          <h1>Success</h1> 
          <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
          <input type="submit" class="btnRegister" value="Continue Shopping"  />
        </div>
</body>
</html>