<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="css/Order Confirmation.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
    <title>Order Confirmation</title>
</head>
<body>
	 <!--header section-->

	 <header>
        <a href="main.html" class="logo"><img src="image/logo.png" alt=""></a>

        <ul class="navmenu">
            <li><a href="product page.html">Products</a></li>
            <li><a href="trend.html">Trends</a></li>
            <li><a href="Empty.html">Custom order</a></li>
            <li><a href="Empty.html">Designs</a></li>
        </ul>


        <div class="nav-icon">
            <a href="main.html"><i class='bx bx-search'></i></a>
            <a href="log.html"><i class='bx bx-user'></i></a>
            <a href="cart.html"><i class='bx bx-cart'></i></a>
            <a href="wishlist.html"><i class='bx bx-heart' undefined></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>


    </header>
    <div class="x">
		<ul class="icons">
			<ul>
				<li class="hover" style="padding: 15px; margin-left: 38px;">
					<i class='bx bxs-location-plus' style=" font-size: 38px;"></i>
				</li>
				<li>
					<h2 style="margin: 0 0 15px 15px; font-size: medium;">Shipping</h2>
				</li>
			</ul>
			<ul>
				<li class="hover" style="padding: 10px 10px 10px 15px;">
					<i class='bx bx-credit-card' style=" font-size: 38px;"></i>
				</li>
				<li>
					<h2 style=" font-size: medium;">Payment</h2>
				</li>
			</ul>
			<ul>
				<li class="hover" style="padding: 15px; margin-right: 8px;">
					<i class='bx bx-badge-check' style=" font-size: 38px;"></i>
				</li>
				<li>
					<h2 style="margin: 0 15px 15px 0; font-size: medium;">Confirmation</h2>
				</li>
			</ul>
		</ul>
	</div>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #fbfbfb; margin:0 auto;">
          <i class="checkmark">✓</i>
        </div>
          <h1>Success</h1> 
          <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
		  <form action="product page.html">
		  <input type="submit" class="btnRegister" value="Continue Shopping">
		  </form>
        </div>
		<!--
    - FOOTER
    -->

    <footer>

		<!-- contact-section -->
		<section class="contact">
		  <div class="contact-info">
			<div class="first-info">
			  <img src="image/logo.png" alt="">
			  <p>+201004443226</p>
			  <p>efresh.beitak@gmail.com</p>
  
			</div>
  
			<div class="second-info">
			  <h4>Support</h4>
			  <a href="contact us.html">
				<p>Contact us</p>
			  </a>
			  <a href="about us.html">
				<p>About page</p>
			  </a>
			  <p>Shopping & Resturns</p>
			  <p>Privacy</p>
			</div>
  
			<div class="third-info">
			  <h4>Shop</h4>
			  <p>electronic</p>
			  <p>home</p>
			  <p>Furniture</p>
			  <p>kitchen</p>
			</div>
  
			<div class="five">
			  <h4>JOIN OUR EMAIL NEWSLETTER</h4>
			  <form>
				<div class="form-group">
				  <input type="text" class="Input" placeholder="Enter Your Email." /><br><br>
				  <button type="submit" class="btn btn-default submit">
					Submit
				  </button>
				</div>
			  </form>
			</div>
		  </div>
		</section>
	  </footer>
  
</body>
</html>