<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/favicon.ico" href="/image/favicon.png">
    <link rel="stylesheet" href="css/product details.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--ICONS LINK-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Efresh Beitak</title>
</head>

<body>

    <div class="container">
        <div class="item1">
            <div class="breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="main.html"><i class='bx bx-home'></i></a></li>
                    <li><a href="#">product</a></li>
                </ul>
            </div>
        </div>

        <div class="item2">
            <center>
                <h2>product <span>details</span></h2>
            </center>
            <div class="flex-box">
                <div class="left">
                    <div class="big-img">
                        <img src="image/00.webp">
                    </div>
                    <div class="images">
                        <div class="small-img">
                            <img src="image/00.webp" onclick="showImg(this.src)">
                        </div>
                        <div class="small-img">
                            <img src="image/00.webp" onclick="showImg(this.src)">
                        </div>
                        <div class="small-img">
                            <img src="image/00.webp" onclick="showImg(this.src)">
                        </div>
                        <div class="small-img">
                            <img src="image/00.webp" onclick="showImg(this.src)">
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="pname">sofa bed</div>
                    <div class="ratings">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">6000L.E</div>
                    <div class="quantity">
                        <p>Quantity :</p>
                        <input type="number" min="1" max="6" value="1">
                    </div>
                    <div class="btn-box">
                        <a href="cart.html"><button class="cart-btn">Add to Cart</button></a>
                    </div>
                </div>
            </div>
    <section class="product-inf">
        <h3> The online furniture website "Efresh Betak"<br> is intended to provide complete solutions for sellers as
            well<br> as customers through a single gateway using the internet as a sole medium
        </h3>
    </section>
        <script>
            let bigImg = document.querySelector('.big-img img');
            function showImg(pic) {
                bigImg.src = pic;
            }
        </script>
        

</body>

</html>