<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efresh-betak</title>
    <link rel="icon" type="image/favicon.ico" href="/image/favicon.png">
    <link rel="stylesheet" href="css/product details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--ICONS LINK-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
    <header>
      <a href="main.html" class="logo"><img src="image/logo.png" alt=""></a>

      <ul class="navmenu">
          <li><a href="trend.html">Products</a></li>
          <li><a href="Empty.html">Custom order</a></li>
          <li><a href="Empty.html">Designs</a></li>
          <li><a href="about us.html">About Us</a></li>
          <li><a href="log.html">Log in</a></li>
      </ul>

      <div class="nav-icon">
          <a href="profile.html"><i class='bx bx-user'></i></a>
          <a href="cart.html"><i class='bx bx-cart'></i></a>
          <a href="wishlist.html"><i class='bx bx-heart' undefined></i></a>
      </div>
    </header>
    <div class="container">
        <div class="item1">
            <div class="breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="main.html"><i class='bx bx-home'></i></a></li>
                    <li><a href="#">product</a></li>
                </ul>
            </div>
        </div>
        <div class="item2">
            <div class="flex-box">
                <div class="left">
                    <div class="big-img">
                        <img src="image/00.webp">
                    </div>
                    <div class="images">
                        <div class="small-img">
                            <img src="image/10.avif" onclick="showImg(this.src)">
                        </div>
                        <div class="small-img">
                            <img src="image/20.avif" onclick="showImg(this.src)">
                        </div>
                        <div class="small-img">
                            <img src="image/30.avif" onclick="showImg(this.src)">
                        </div>
                        <div class="small-img">
                            <img src="image/00.webp" onclick="showImg(this.src)">
                        </div>
                    </div>
                </div>

                <div class="right">
                    <div class="pname">sofa bed</div>
                    <div class="ratings">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="price">6000L.E</div>
                    <div class="quantity">
                        <p>Quantity :</p>
                        <input type="number" min="1" max="6" value="1">
                    </div>
                    <div class="btn-box">
                        <button class="cart-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item3">
            <div>
                <center><h1>This Section is still Empty</h1></center>
              </div>
        </div>
        <br>
        <!-- contact-section -->
        <section class="contact">
            <div class="contact-info">
                <div class="first-info">
                    <img src="image/logo.png" alt="">

                    <p>01601348732</p>
                    <p>efresh.beitak@gmail.com</p>

                    <div class="social-icon">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-youtube'></i></a>
                        <a href="#"><i class='bx bxl-linkedin'></i></a>
                    </div>
                </div>

                <div class="second-info">
                    <h4>Support</h4>
                    <a href="contact us.html">
                        <p>Contact us</p>
                    </a>
                    <a href="about us.html">
                        <p>About page</p>
                    </a>
                    <p>Shopping & Resturns</p>
                    <p>Privacy</p>
                </div>

                <div class="third-info">
                    <h4>Shop</h4>
                    <p>electronic</p>
                    <p>home</p>
                    <p>Furniture</p>
                    <p>kitchen</p>
                </div>

                <div class="five">
                    <h4>JOIN OUR EMAIL NEWSLETTER</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" class="Input" placeholder="Enter Your Email." /><br><br>
                            <button type="submit" class="btn btn-default submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <script>
        let bigImg = document.querySelector('.big-img img');
        function showImg(pic) {
            bigImg.src = pic;
        }
    </script>
</body>

</html>
