<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Forget Password</title>
    <link rel="stylesheet" href="css/forgetpassword.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Forget Password</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" required>
          </div>
        </div>
        <div class="button">
            <form action="gmail">
          <input type="submit" value="Send">
        </form>
        </div>
      </form>
    </div>
  </div>
</body>
</html>