@model EfrashBatek.ViewModel.ItemVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create Item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            @*new*@
            <div class="form-group">
                <label asp-for="discount" class="control-label"></label>
                <input asp-for="discount" class="form-control" />
                <span asp-validation-for="discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceAfterSale" class="control-label"></label>
                <input asp-for="PriceAfterSale" class="form-control" />
                <span asp-validation-for="PriceAfterSale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityInStore" class="control-label"></label>
                <input asp-for="QuantityInStore" class="form-control" />
                <span asp-validation-for="QuantityInStore" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image2" class="control-label"></label>
                <input type="file" asp-for="Image2" class="form-control" />
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image3" class="control-label"></label>
                <input type="file" asp-for="Image3" class="form-control" />
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image4" class="control-label"></label>
                <input type="file" asp-for="Image4" class="form-control" />
                <span asp-validation-for="Image4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image5" class="control-label"></label>
                <input type="file" asp-for="Image5" class="form-control" />
                <span asp-validation-for="Image5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            @*     <div class="form-group">
            <label asp-for="Brand_ID" class="control-label">Brand ID</label>
            <input  asp-for="Brand_ID" class="form-control" />
            <span asp-validation-for="Brand_ID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Brand_ID" class="control-label">Brand Name</label>
                <select asp-for="Brand_ID" class="form-control" asp-items="ViewBag.BrandName"></select>
            </div>
            @*<div class="form-group">
            <label asp-for="ShopID" class="control-label">Shop ID</label>
            <input asp-for="ShopID" class="form-control" />
            <span asp-validation-for="ShopID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ShopID" class="control-label">Shop Name</label>
                <select asp-for="ShopID" class="form-control" asp-items="ViewBag.ShopName"></select>
            </div>
            @* <div class="form-group">
            <label asp-for="ProductID" class="control-label">Product ID</label>
            <input  asp-for="ProductID" class="form-control" />
            <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ProductID" class="control-label">Product Name</label>
                <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductName"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">My Product</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
