@{
	Layout = null;
}
﻿@using EfrashBatek.ViewModel
@model DashboardViewModel

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/orders1.css">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="~/css/admin.css">
	<link rel="stylesheet" href="~/css/seller.css">
	<link rel="stylesheet" href="~/css/orders1.css">


	<title>Admin</title>
</head>
<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Efresh Beitak </span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a asp-action="Seller" >
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="orders.html">
                    <i class='bx bx-list-ul'></i>
                    <span class="text">Order List </span>
                </a>
            </li>
            <li >
                <a asp-action="Create">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Item</span>
                </a>
            </li>
            <li>
				<a asp-action="ShopItem">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Item</span>
                </a>
            </li>
            <li>
                <a href="###########################CUSTOMIZE ORDER">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Customize Order </span>
                </a>
            </li>
        </ul>
    </section>

	<!-- SIDEBAR -->
	<!-- CONTENT -->
    
       
		<section id="content">
			<!-- NAVBAR -->
			<nav>
				<i class='bx bx-menu'></i>
				<form action="#">
					<div class="form-input">
						<input type="search" placeholder="Search...">
						<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
					</div>
				</form>
			</nav>
			<!-- NAVBAR -->
			<!-- MAIN -->
			<main>
				<div class="head-title">
					<div class="left">
						<h1>Dashboard</h1>
						<ul class="breadcrumb">
							<li>
								<a href="#">Dashboard</a>
							</li>
							<li><i class='bx bx-chevron-right'></i></li>
							<li>
								<a class="active" href="#">Home</a>
							</li>
						</ul>
					</div>
				</div>
				<ul class="box-info">
					<li>
						<i class='bx bxs-calendar-check'></i>
						<span class="text">
							<h3>@*@Model.Totalshop*@</h3>
							<p>Total Orders</p>
						</span>
					</li>
					<li>
						<i class='bx bxs-group'></i>
						<span class="text">
							<h3>@*@Model.TotalCustomers*@</h3>
							<p>Customers</p>
						</span>
					</li>
					
				</ul>

				<div class="table-data">
					<div class="order">
						<div class="head">
							<h3>Recent Orders</h3>
							<i class='bx bx-search'></i>
							<i class='bx bx-filter'></i>
						</div>
						<table>
							<thead>
								<tr>
									<th>User</th>
									<th>Date Order</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								@*@foreach (var order in Model.orders)
								{
									<tr>
										<td>
											<img src="~/Image/img/people.png">
											<p>@order.Customer.User.FirstName</p>
										</td>
										<td>@order.OrderDate.Year/@order.OrderDate.Month/@order.OrderDate.Year</td>

										<td><span class="status completed">@order.PaymentMethod</span></td>
									</tr>
								}*@


							</tbody>
						</table>
					</div>

				</div>
			</main>
			<!-- MAIN -->
		</section>






















    </main>






























	
</body>
<!-- SCRIPT -->
<script src="~/js/script.js"></script>
</html>