@{
	Layout ="LayoutProfile";
}

	<h3 class="mb-4">Orders Settings</h3>

	<div id="empty orders">
		<center>
			<br>
			<br>
			<br>
			<br>
			<img src="~/Image/img2.png">
			<br>
			<br>
			<h4>You Don't have any Orders ! </h4>
			<br>
			<a href="main.html"><button class="button123">Continue Shopping</button></a>
		</center>
	</div>