@{

	Layout = "LayoutProfile";
}
@model EfrashBatek.ViewModel.ChangePasswordVM
<div class="tab-pane fade show active" id="password" role="tabpanel" aria-labelledby="profile-tab">
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

		<h3 class="mb-4">Password Settings</h3>
		<form asp-action="ChangePassword" asp-controller="Account">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="CurrentPassword">Old password</label>
						<input asp-for="CurrentPassword" type="password" class="form-control">
						<span asp-validation-for="CurrentPassword"></span>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="NewPassword">New password</label>
						<input asp-for="NewPassword" type="password" class="form-control">
						<span asp-validation-for="NewPassword"></span>

					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label asp-for="ConfirmPassword">Confirm new password</label>
						<input asp-for="ConfirmPassword" type="password" class="form-control">
						<span asp-validation-for="ConfirmPassword"></span>

					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-primary " style="
						background-color: #cbaab1;
						border-color: #cbaab1;">
					Update
				</button>
				<button class="btn btn-light">Cancel</button>
			</div>



		</form>
		

	</div>
</div>