
@{
	Layout = "LayoutProfile";
}
<div class="tab-pane fade show active" id="address" role="tabpanel" aria-labelledby="profile-tab">
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

		<div class="tab-pane fade show active">
			<h3 class="mb-4">Address Settings</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>First Name</label>
						<input type="text" class="form-control" value="Hazem">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Last Name</label>
						<input type="text" class="form-control" value="Abdelsattar">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Street Name</label>
						<input type="text" class="form-control" value="Dreams">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Appartment Number</label>
						<input type="text" class="form-control" value="1">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>City</label>
						<select id="citySelect" class="form-control">
							<option value="null">Select</option>

						</select>
					</div>
				</div>
			</div>
			<label>Detailed Address</label>
			<textarea class="form-control" rows="4">New Qena - Dreams Land New Qena</textarea>
			<div>
				<button class="btn btn-primary"
						style="background-color: #cbaab1;
							border-color: #cbaab1;">
					Update
				</button>
				<button class="btn btn-light">Cancel</button>
			</div>
		</div>
	</div>
</div>