@{
	Layout = "LayoutProfile";
}
<div class="tab-pane fade show active" id="ordere" role="tabpanel" aria-labelledby="profile-tab">
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

		<h3 class="mb-4">Orders Settings</h3>

		<center>
			<br>
			<br>
			<br>
			<br>
			<table>

				<tr>
					<td>Order Code : </td>
					<td>#131321</td>
				</tr>
				<tr>
					<td>Total : </td>
					<td>1200 EGP</td>
				</tr>
				<tr>
					<td>Date : </td>
					<td>2023/05/27</td>
				</tr>
				<tr>
					<td>Status : </td>
					<td>Active</td>
				</tr>
				
				<tr>
					<td colspan="2" style="text-align:center;"> <a href="orderinfo.html"><button class="button123">View Order Details</button></a> </td>
				</tr>

			</table>
		</center>
	</div>

</div>
	