@{

    Layout = "LayoutProfile";
}
@model List<Order>

<link rel="stylesheet" href="~/css/ordertable.css">
<div class="tab-pane fade show active" id="ordere" role="tabpanel" aria-labelledby="profile-tab">
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">


        <h3 class="mb-4">Orders Settings</h3>

        <center>
            <br>
            <br>   
            <br>
            <br>
            
            <table id="example" class="order-table" style="margin-left: auto; margin-right: auto; width : 100%;">
                <thead>
                    <tr>
                    
                        <th>Order Date</th>
                        <th>Total cost</th>
                        <th>View Order Details </th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var order in Model)
                {
                        <tr>
                        
                            <td>@order.OrderDate.Year/@order.OrderDate.Month/@order.OrderDate.Year</td>
                            
                            <td>@order.TotalCost $</td>
                            <td><a a asp-controller="MyProfile" asp-action="OrderDetails" asp-route-id="@order.ID">View Order Details!</a></td>
                        </tr>
                  
                }
                </tbody>
              
            </table>
        </center>
    </div>

</div>
