@{
	Layout = "LayoutProfile";
}


<div class="tab-pane fade show active" id="guarante" role="tabpanel" aria-labelledby="profile-tab">
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

		<h3 class="mb-4">Guarantee Settings</h3>
		<center>
			<br>
			<br>
			<br>
			<br>
			<img src="~/Image/img.png" alt="">
			<br>
			<br>
			<h4>You Don't have any Guarantees ! </h4>
		</center>

	</div>
</div>