<!DOCTYPE html>
<html lang="en">

<head>
    <!---main->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS-link -->
    <link rel="stylesheet" href="~/css/cart.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!--css profile-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/favicon.ico" href="~/Image/favicon.png">
    <!-- CSS-link -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS-link -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <!-- Code by Angela Delise
    https://codepen.io/angeladelise/pen/yLJdgYx -->
    @*<link rel="stylesheet" href="css/cart.css">*@
    <link rel="stylesheet" href="~/css/main.css">




    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>



    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />


    <title>Efresh Beitak</title>
</head>


<body>

    <header>

        <a href="/Home/TrendingProducts" class="logo"><img src="~/Image/logo.png" alt=""></a>

        <ul class="navmenu">
            <li><a asp-controller="Product" asp-action="Index">Products</a></li>
            <li><a asp-controller="Home" asp-action="TrendingProducts">Trends</a></li>
            <li><a asp-controller="Customs" asp-action="Create">Custom order</a></li>
            <li><a asp-controller="Designs" asp-action="Index">Designs</a></li>



        </ul>


        <div class="nav-icon">
            <a asp-controller="" asp-action=""><i class='bx bx-search'></i></a>
            <a asp-controller="MyProfile" asp-action="UpdateProfile"><i class='bx bx-user'></i></a>
            <a asp-controller="Cart" asp-action="Index"><i class='bx bx-cart'></i></a>
            <a asp-controller="WishList" asp-action="Index"><i class='bx bx-heart' undefined></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>


    </header>


    @RenderBody()
    <footer>




        <!-- contact-section -->
        <section class="contact">
            <div class="contact-info">
                <div class="first-info">
                    <img src="~/Image/logo.png" alt="">
                    <p>+201004443226</p>
                    <p>efresh.beitak@gmail.com</p>

                </div>


                <div class="second-info">
                    <h4>Support</h4>
                    <a asp-action="ContactUs" asp-controller="Home">
                        <p>Contact us</p>
                    </a>
                    <a asp-action="AboutUs" asp-controller="Home">
                        <p>About page</p>
                    </a >
                    <p>Shopping & Resturns</p>
                    <a asp-action="Privacy" asp-controller="Home">
                    <p>Privacy</p>
                    </a>
                </div>

                <div class="third-info">
                    <h4>category</h4>
                    <p>Home Appliances</p>
                    <p>Kitchen utensils</p>
                    <p>Furniture</p>
                    <p>kitchen</p>
                </div>



                <div class="five">
                    <h4>JOIN OUR EMAIL NEWSLETTER</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" class="Input" placeholder="Enter Your Email." /><br><br>
                            <button type="submit" class="btn btn-default submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </footer>
    @*<script src="~/js/cart.js"></script>*@
    <script src="~/js/main.js"></script>
    <!--Omran Craete them cause  Clint side-->
    <script srca="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    @RenderSection("Scripts",false)

    <script>
        $(document).ready(function () {
            $("#cart").click(function () {
                $(".cartcard").css("position", "fixed");
                $(".cartcard").css("right", "0px")
                $("#close").css("right", "0");
                $(".cartcard").css("z-index", "99999999");
                $(".brand").css("height", "100vh");
                $(".down").hide()
                $(".main-text").css("opacity", "0.5")
                $("header").addClass("sticky");


            })
        })
        $(document).ready(function () {
            $("#close").click(function () {
                $("header").show()
                $(".main-text").css("opacity", "1")
                $(".down").fadeIn()
            })
        })

    </script>

    <!---BOOTSTRAP TABEL-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

</body>

</html>
