<html>
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "CustomerLayout";
}
<head>
    <link rel="stylesheet" href="~/css/default.css">
</head>
<body>

    <br>
    <br>
    <br>
    <br>
    <center>
     <h1 style="background-color : #cbaab1;">Unauthorized Access</h1>
    <img src="~/Image/error401.png" alt="Unauthorized Access" width="750px">
    <h4>You are not authorized to access this resource.</h4>
    </center>

</body>
</html>