<html>
@{
    ViewData["Title"] = "Unauthorized";
    Layout = "CustomerLayout";
}
<head>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>

    <h1>Unauthorized Access</h1>
    <p>You are not authorized to access this resource.</p>
    <img src="~/Image/unauthorized.png" alt="Unauthorized Access" width="70">
</body>
</html>