@model Order
<h1>
    Thank You For Your Order
</h1>
<br />
<h3>
    <!--ناقصها @@ عشان query-->
    Your Order Number Model.ID
</h3>

<a asp-action="Order">Track Your Order !</a>
<a asp-action="Index" asp-controller="Home" >Continue Shopping</a>
