*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Jost', sans-serif;
	list-style: none;
	text-decoration: none;
}
/* ICONS*/
.x {
    background-color:#b4b4b4;
    background-image: linear-gradient(to bottom, #fbf6f7, #fff);
    border-radius: 2em;
    block-size: 100px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    inline-size: 800px;
    margin-bottom: 1%;
	justify-content: center;
    align-items: center;
  }
  
  ul.icons {
    display: flex;
    justify-content: space-between;
    margin: autO;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    block-size: 1em;
    display: inline-block;
    fill: currentColor;
    inline-size: 1em;
    vertical-align: middle;
  }
  
  .btnRegister {
    float: right;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #cbaab1;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
h2{
	font-size: medium;
}

#address{
  border: 2px solid #cbaab1;
  padding: 50px;
  margin: 20px;
}
section{
	 padding: 5% 10%;
}

/* Responsive-css */
@media(max-width:750px){
	 .navmenu{
			 position: absolute;
			 top: 100%;
			 right:-100%;
			 width: 300px;
			 height: 130vh;
			 background: #edfff1;
			 display: flex;
			 flex-direction: column;
			 align-items: center;
			 padding: 120px 30px;
			 transition: all .42s;
	 }
	 .navmenu a{
			 display: block;
			 margin: 18px 0;
	 }
	 .navmenu.open{
			 right: 0;
	 }
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}
.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
/*continue*/
.submit{
    padding: 6px 13px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgb(81, 81, 85) ;
    border: 1px solid rgb(129, 123, 123);
    font-size: 14px;
   }
   .submit:hover{
    background-color:#cbaab1;
    color: rgb(246, 244, 248);
   }
   input{
    padding: 4px 28px;
    border-radius: 10px;
    margin: 5px auto;
    border: 1px solid #918383;
    background-color: #f3f4f6;
    box-shadow: 1px 2px 1px 2px rgb(230, 229, 229);
    color: #000000;
    outline: none;
    font-size: 16px;
   }
   aside {
    float: right;
    position: relative;
    width: 30%;
  }
  
  .summary {
      margin-top: 30%;
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    flex: 1;
    width: 269px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .summary-total-items {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
  }
  
  .summary-subtotal,
  .summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
  }
  
  .subtotal-title,
  .subtotal-value,
  .total-title,
  .total-value,
  .promo-title,
  .promo-value {
    color: #111;
    float: left;
    width: 50%;
  }
  
  .summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .promo-title {
    float: left;
    width: 70%;
  }
  
  .promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
  }
  
  .summary-delivery {
    padding-bottom: 3rem;
  }
  
  .subtotal-value,
  .total-value {
    text-align: right;
  }
  
  .total-title {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .summary-checkout {
    display: block;
  }
  
  .checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
  }
  
  .summary-delivery-selection {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
  }