* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
  background: #fbfbfb;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.row {
  margin-top: 2%;
  margin-bottom: 2%;
}
.x{
  border-radius: 30px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  background-color: #fff;
}
/* continue button*/
.btnRegister {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #cbaab1;
  color: #fff;
  font-weight: 600;
  width: 25%;
  cursor: pointer;
  transition: background-color 0.4s ease;
  align-content: center;
  margin-left: 70%;
}

.btnRegister:hover {
  background-color: #c895a0;
  /* Change the background color to red when the button is hovered over */
}

/*ADDRESS*/
#address  {
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  background-color: #fff;
  height: auto ;
}

.form-group {
  margin-bottom: 1.5rem;
}

input {
  padding: 4px 28px;
  border-radius: 10px;
  margin: 5px auto;
  border: 1px solid #918383;
  background-color: #fff;
  box-shadow: 1px 2px 1px 2px rgb(230, 229, 229);
  color: #000000;
  outline: none;
  font-size: 16px;
}
 
/*****************************************************************************************RESPONSIVE*********************************************************************************************************/
@media(max-width:890px) {
  header {
    padding: 20px 3%;
    transition: .4s;
  }
}

@media(max-width:630px) {
  .main-text h1 {
    font-size: 50px;
    transition: .4s;
  }

  .main-text p {
    font-size: 18px;
    transition: .4s;
  }

  .main-btn {
    padding: 10px 20px;
    transition: .4s;
  }
}

@media(max-width:750px) {
  .navmenu {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 130vh;
    background: #d0d0d0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 30px;
    transition: all .42s;
  }

  .navmenu a {
    display: block;
    margin: 18px 0;
  }

  .navmenu.open {
    right: 0;
  }
}