body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #e3d9d9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cbaab1;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

body
{
background-color: #fbfbfb;
}

button {
border: none;
border-radius: 1.5rem;
padding: 2%;
background: #e3d9d9;
color: #fff;
font-weight: 600;
width: 25%;
cursor: pointer;
transition: background-color 0.4s ease;
align-content: center;
margin: 2%;
}

button:hover {
background-color: #cbaab1;
}
input {
background: #e3d9d9;
color: #fff;
width: 25%;
}
input:hover {
background-color: #cbaab1;
}
.container {
    max-width: 750px;
}
