/*------------------------------------------------------header----------------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

/* .search-box{
   position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px; 
} */
.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

.search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #cbabb1;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

.logo img {
    max-width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: #cbaab1;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: #cbaab1;
}

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

header.sticky{
    background: #fbfbfb;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/*-------------------------------------------------------footer--------------------------------------------------------------*/
footer{
    margin-block-start: 19%;
    margin-inline-start: 5%;
}
/* contact-section */
.contact {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.040);
    background-color: #f9f9f9;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}

.first-info img {
    width: 140px;
    height: auto;
}

.contact-info h4 {
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p {
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p:hover {
    color: #cbaab1;
}

.social-icon i {
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.social-icon i:hover {
    transform: scale(1.3);
}

input {
    padding: 4px 28px;
    border-radius: 10px;
    margin: 5px auto;
    border: 1px solid #918383;
    background-color: #f3f4f6;
    box-shadow: 1px 2px 1px 2px rgb(230, 229, 229);
    color: #000000;
    outline: none;
    font-size: 16px;
}

.submit {

    padding: 6px 13px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgb(81, 81, 85);
    border: 1px solid rgb(129, 123, 123);
    font-size: 14px;
}

.submit:hover {
    background-color: #cbaab1;
    color: rgb(246, 244, 248);
}
.footer-category {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--onyx);
  }

  .footer-category-title {
    color: var(--salmon-pink);
    font-size: var(--fs-6);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .footer-category-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    row-gap: 3px;
    margin-bottom: 15px;
  }

  .category-box-title {
    color: var(--spanish-gray);
    font-size: var(--fs-8);
    font-weight: var(--weight-600);
    text-transform: uppercase;
  }
  .footer-bottom {
    margin-bottom: 50px;
    text-align: center;
  }
