h2 {
	text-align: center;
	color:#cbaab1;
}

body {
	background-color: #ffffff;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 5 auto;
}

th, td {
	text-align: left;
	padding: 8px;
}

th {
  background: #807f7f;
	color: white;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

button {
	background-color: #cbaab1;
	color: #fff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	border-radius: 25%;
}

button:hover {
  
  background-color:#d1cece ;
}

.search-box {
	align-content: center;
	position: relative;
	height: 50px;
	max-width: 550px;
	width: 100%;
	margin: 20px auto;
	border-radius: 10%;
}

.search-box input {
	height: 100%;
	width: 100%;
	outline: none;
	background: #F5F6FA;
	border: 2px solid #EFEEF1;
	border-radius: 6px;
	font-size: 18px;
	padding: 0 15px;
	
}

.search-box .bx-search {
	position: absolute;
	height: 40px;
	width: 40px;
	background: #cbaab1;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	transition: all 0.4 ease;
}
/* Responsive-css */
@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background: #d0d0d0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
  background-color: #cbaab1;
}
