@model Address
@{
	
    Layout = "CustomerLayout";
}
<body>
	@*icons*@
    <div class="x">
        <ul class="icons">
            <ul>
                <li class="word">
                    <a href="default address.html">
                        <i class='bx bxs-location-plus' style=" font-size: 38px;"></i>
                        <h2 class="word">Shipping</h2>
                    </a>
                </li>

            </ul>
            <ul>
                <li class="word">
                    <a href="payment method.html">
                        <i class='bx bx-credit-card' style=" font-size: 38px;"></i>
                        <h2 class="word">Payment</h2>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="word">
                    <a href="Order Confirmation.html">
                        <i class='bx bx-badge-check' style=" font-size: 38px;"></i>
                        <h2 class="word">Confirmation</h2>
                    </a>
                </li>
            </ul>
        </ul>
    </div>
	@*address setting*@
<form asp-action="SaveAddress">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
			<div id="address" role="tabpanel" aria-labelledby="address-tab">
				<h3 class="mb-4">Address Settings</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group"> 
							<label for ="billing-name">First Name</label>
							<input type="text" class="form-control" asp-for="FirstName" placeholder="Enter First Name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="billing-name">Last Name</label>
							<input type="text" class="form-control" asp-for="LastName" placeholder="Enter Last Name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="form-label" for="billing-phone">Phone</label>
							<input type="text" class="form-control" asp-for="phone" placeholder="Enter Phone no.">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="billing-address">Address</label>
							<input type="text" class="form-control" asp-for="FullAddress" placeholder="Enter full address">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Zone">City</label>
							<select asp-for="Zone" class="form-control" asp-items="ViewBag.Zone"></select>
							@*<select id="citySelect" class="form-control">
							<option value="null">Select</option>
							<option value="57">
							Qena
							</option>
							<option value="57">
							Cairo
							</option>
							</select>*@
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="zip-code">Postal Code</label>
							<input type="text" class="form-control" asp-for="PostalCode" placeholder="Enter Postal code" >
						</div>
					</div>
					
					<input type="submit" value="Save" class="btnRegister" />
					@*<input type="submit" class="btnRegister" value="Save" href="default address.html">*@

				</div>
			</div>
		</div>


</div>
</form>



</body>