
@{
	Layout = null;
}
	<link rel="stylesheet" href="~/css/Order Confirmation.css">



	<!-- ICONS -->
	<div class="x  hr steps checkout-address icons col-sm-11 col-md-11 col-lg-9 col-xl-9 bg-white">
		<ul class="icons icons hr steps icons col-sm-11 col-md-11 col-lg-11 col-xl-11 bg-white">

			<li class="word">
				<a href="default address.html">
					<i class='bx bxs-location-plus' style=" font-size: 38px;"></i>
					<h2 class="word">Shipping</h2>
				</a>
			</li>



			<li class="word">
				<a href="payment method.html">
					<i class='bx bx-credit-card' style=" font-size: 38px;"></i>
					<h2 class="word">Payment</h2>
				</a>
			</li>


			<li class="word">
				<a href="Order Confirmation.html">
					<i class='bx bx-badge-check' style=" font-size: 38px;"></i>
					<h2 class="word">Confirmation</h2>
				</a>
			</li>
		</ul>
	</div>
	<div class="card">
		<div class="true" style="border-radius:200px; height:200px; width:200px; background: #fbfbfb; margin:0 auto;">
			<i class="checkmark">✓</i>
		</div>
		<h1>Success</h1>
		<p>We received your purchase request;<br /> we'll be in touch shortly!</p>
		<form action="main.html">
			<input type="submit" class="btnRegister" value="Continue Shopping">
		</form>
	</div>
	<!--
	- FOOTER
	-->
