@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/payment method.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Payment Method</title>
</head>
<body style="background-color: #fbfbfb;">
    <!--ICONS-->
    <div class="x">
        <ul class="icons">
            <ul>
                <li class="word">
                    <a href="default address.html">
                        <i class='bx bxs-location-plus ic'></i>
                        <h2 class="word">Shipping</h2>
                    </a>
                </li>

            </ul>
            <ul>
                <li class="word">
                    <a href="payment method.html">
                        <i class='bx bx-credit-card ic'></i>
                        <h2 class="word">Payment</h2>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="word">
                    <a href="Order Confirmation.html">
                        <i class='bx bx-badge-check ic'></i>
                        <h2 class="word">Confirmation</h2>
                    </a>
                </li>
            </ul>
        </ul>
    </div>











</body>




@*

الباك بتاع عمران

<h5 class="font-size-14">Payment method :</h5>

<div class="row">

    <div class="col-lg-4 col-sm-6">
        <div>
            <label class="form-label card-radio-label mb-3">
                <input type="radio" name="pay-method" id="pay-methodoption1" class="card-radio-input">

                <div class="card-radio">
                    <i class="fab fa-cc-mastercard font-size-24 align-middle me-2"></i>
                    <span>Credit / Debit Card</span>
                </div>
            </label>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div>
            <label class="form-label card-radio-label mb-3">
                <input type="radio" name="pay-method" id="pay-methodoption2" class="card-radio-input">

                <div class="card-radio">
                    <i class="fab fa-cc-paypal font-size-24 align-middle me-2"></i>
                    <span>Paypal</span>
                </div>
            </label>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
        <div>
            <label class="form-label card-radio-label mb-3">
                <input type="radio" name="pay-method" id="pay-methodoption3" class="card-radio-input" checked>

                <div class="card-radio">
                    <i class="far fa-money-bill-alt font-size-24 align-middle me-2"></i>
                    <span>Cash on Delivery</span>
                </div>
            </label>
        </div>
    </div>

</div>
<div>
    <ul class="pager wizard twitter-bs-wizard-pager-link">
        <li class="previous"><a asp-action="Address">Previous</a></li>
        <li class="next"><a asp-action="Confirmation">Next</a></li>
    </ul>
</div>

*@