@{
    Layout = "CustomerLayout";
}
<section class="main-home">
    <div class="main-text">
        <h1>we bring <span>solution</span><br> to make life easier<br> for our customer</h1>
    </div>

    <div class="down-arrow">
        <a href="#trending" class="down"><i class='bx bx-down-arrow-alt'></i></a>
    </div>
</section>

<!-- trending-products-section -->
<section class="trending-product" id="trending">
    <h3>
        The online furniture website "Efresh Betak"<br> is intended to provide complete solutions for sellers as
        well as customers through a single gateway using the internet as a sole medium,<br> especially for people in
        Qena who always suffer from the lack of products and they go to other governments to look for what they
        need.<br> It will enable sellers to setup onl
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        ne furniture shops.<br> Customer to browse through the shop
        and purchase them online without having to visit the shop physically.<br> The administration module will
        enable a system administrator to approve and reject requests for new shops and maintain various lists of
        shop category.
        <br> This document is meant to discuss the features of the online furniture website, <br>so as to serve as a
        guide to the developers on one hand and a software validation document for the prospective client on the
        other.c
    </h3>
</section>