@{
    Layout = "CustomerLayout";
}
<div class="container">
    <div class="row m-0">
        <p>
            <strong>Efrash Batek </strong>
            is Cairo-based Egyptian brand focused on the production and sale of nutritional
            and healthy products. Efrash Batek started as a premium quality honeybee brand in 2023
        </p><p>
            <br><strong>
                Efrash Batek

            </strong>is helping Egyptians pursue a healthy and active lifestyle
            through a wide variety of products including Medicinal Herbs, Supplements,
            and Honeybee products &amp; becoming increasingly more visible further
            afield
        </p><p>
            Now
            <strong>Efrash Batek </strong>has over 100 nutritional products available inside our
            specialized. </strong>is headquartered in Obour City, Egypt with more than 600 talented
            and dedicated employees that work as part of Efrash Batek team.&nbsp;
        </p>
    </div>
</div>