@{
    Layout = "_MainLayout";
}
<div class="row m-0">
    <typing-node>

        <p style="margin-bottom:0in">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                .<b><u>A<span dir="RTL"> - </span>Introduction</u></b>
            </span>
        </p>

        <ol type="1" start="1">
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    We care deeply about the<span dir="RTL"> </span>privacy
                    of our site visitors, and are committed to protecting it. This<span dir="RTL"> </span>policy explains how we dispose of your personal
                    information<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    By agreeing to our use of<span dir="RTL"> </span>cookies
                    in accordance with the terms of this policy when you first visit<span dir="RTL"> </span>our website, you allow us to use cookies each time
                    you visit our website<span dir="RTL">.</span>
                </span>
            </li>
        </ol>

        <p style="margin-top:2.25pt">
            <b><u><span style="font-size:12.0pt;font-family:Times New Roman,serif">B<span dir="RTL">. </span>Copyright<span dir="RTL"> </span></span></u></b><span dir="RTL" style="font-size:12.0pt;font-family:Times New Roman,serif">
                <br>
            </span><span style="font-size:12.0pt;font-family:Times New Roman,serif">
                SEQ Legal ( seqlegal.com <span dir="RTL">) </span>This document was created with a template<span dir="RTL"> </span>from<span dir="RTL">
                    <br>
                    ( <a href="https://www.websiteplanet.com/"><span dir="LTR" style="color:blue">www.websiteplanet.com </span></a>)
                </span>and modified
                by<span dir="RTL"> </span>Website Planet
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        c<span dir="RTL">. </span>Collection
                        of personal information
                    </span>
                </u>
            </b>
        </p>

        <ol type="1" start="1">
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    The following personal<span dir="RTL"> </span>information
                    may be collected, stored and used: Information about your<span dir="RTL"> </span>computer
                    including your Internet Protocol address, geographic location<span dir="RTL">, </span>browser type and version, and
                    operating system<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information about your visits<span dir="RTL"> </span>to
                    and use of this website including the referring source, length of<span dir="RTL"> </span>visit, what you view on the page, and your browsing
                    paths on the website<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information that you enter when<span dir="RTL"> </span>registering
                    on our website, such as your email address<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information<span dir="RTL"> </span>you enter when
                    creating a profile on our site – for example, your name<span dir="RTL">, </span>profile pictures, gender, date of birth, marital
                    status, interests and<span dir="RTL"> </span>hobbies,
                    educational status, and job details<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information, such as your name<span dir="RTL"> </span>and
                    email address, that you enter in order to set up subscriptions to our<span dir="RTL"> </span>emails and/or newsletters<span dir="RTL">;</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information you enter while<span dir="RTL"> </span>using
                    the services on our website<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information generated while<span dir="RTL"> </span>using
                    our Website, including the times and frequency of your use of the<span dir="RTL"> </span>Website and the circumstances in which you use the
                    Website<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information about anything you<span dir="RTL"> </span>buy,
                    services you use, or transactions you make through our website<span dir="RTL">, </span>including your name, address,
                    phone number, email address and credit card<span dir="RTL"> </span>details<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information that you post on<span dir="RTL"> </span>our
                    website for the purpose of sharing online, including your username<span dir="RTL">, </span>profile pictures, and the
                    content of your posts<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information contained in any<span dir="RTL"> </span>communications
                    you send to us via email or via our website, including<span dir="RTL"> </span>shared
                    content and metadata<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Any other personal information<span dir="RTL"> </span>you
                    submit to us<span dir="RTL">.</span>
                </span>
            </li>
        </ol>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                Before<span dir="RTL"> </span>you
                disclose personal information about another person to us, you must obtain<span dir="RTL"> </span>that person's consent to both the disclosure and the
                processing of that<span dir="RTL"> </span>personal information in accordance
                with this Policy<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        Dr<span dir="RTL">
                            ..
                        </span>Use of your personal information
                    </span>
                </u>
            </b>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                Personal<span dir="RTL"> </span>information
                submitted to us via our website is used for the purposes described<span dir="RTL"> </span>in this policy or on the relevant pages of the website.
                We may use your<span dir="RTL"> </span>personal information for the
                following purposes<span dir="RTL">:</span>
            </span>
        </p>

        <ol type="1" start="1">
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Managing our website and<span dir="RTL"> </span>business
                    on the Internet<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Customize our website to be<span dir="RTL"> </span>more
                    convenient for you<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Enable you to use the services<span dir="RTL"> </span>available
                    on our website<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Have merchandise you buy from<span dir="RTL"> </span>the
                    Internet sent to you<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Providing services purchased<span dir="RTL"> </span>through
                    our website<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Send you statements, invoices<span dir="RTL">, </span>and push notifications, and collect payments from
                    you<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Send you commercial<span dir="RTL">, </span>non-marketing
                    messages<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    To send you email notifications<span dir="RTL"> </span>that
                    you have specifically requested to be sent to you<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    To send you our email<span dir="RTL"> </span>newsletter,
                    if you have requested it (you can inform us at any time if you<span dir="RTL"> </span>no longer need the newsletter<span dir="RTL">).</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Sending you marketing<span dir="RTL"> </span>communications
                    relating to our business or the businesses of carefully<span dir="RTL"> </span>selected
                    third parties which we think may be of interest to you, by post<span dir="RTL"> </span>or, if you have specifically agreed, by email or
                    similar technology (you<span dir="RTL"> </span>can inform us at
                    any time if you no longer need to these marketing<span dir="RTL"> </span>communications<span dir="RTL">).</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Providing third parties with<span dir="RTL"> </span>statistical
                    information about our users (however, these third parties will<span dir="RTL"> </span>not be able to identify users of that information
                    themselves<span dir="RTL">).</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Dealing with inquiries and<span dir="RTL"> </span>complaints
                    made by you or submitted to us about you on our site<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Protect our site from fraud and<span dir="RTL"> </span>maintain
                    its security<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Verify compliance with the<span dir="RTL"> </span>terms
                    and conditions governing the use of our Website (including<span dir="RTL"> </span>monitoring
                    private messages sent via our Website messaging service<span dir="RTL">).</span>
                </span>
            </li>
            <li><span style="font-size:12.0pt;font-family:Times New Roman,serif">Other uses<span dir="RTL">.</span></span></li>
        </ol>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                If<span dir="RTL"> </span>you
                submit personal information for publication on our site, we will publish<span dir="RTL"> </span>and otherwise use that information in accordance with
                the license you grant to<span dir="RTL"> </span>us<span dir="RTL">
                    .
                    <br>
                </span>Your privacy settings can be used to limit the dissemination of your<span dir="RTL"> </span>information on our website and can be modified using the
                privacy controls on<span dir="RTL"> </span>the website. We will not provide
                any third party, without your express consent<span dir="RTL">
                    ,
                </span>your personal information for the purposes of direct marketing to any
                other party<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        E<span dir="RTL"> - </span>Disclosure
                        of personal information
                    </span>
                </u>
            </b>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                We<span dir="RTL"> </span>may
                disclose your personal information to any of our employees, officers<span dir="RTL">, </span>insurance companies, professional advisors, agents,
                suppliers or subcontractors<span dir="RTL"> </span>as reasonably
                necessary for the purposes set out in this Policy<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                We<span dir="RTL"> </span>may
                disclose your personal information to any member of our group of companies<span dir="RTL"> (</span>that is, our subsidiaries, the parent holding company
                and all of its<span dir="RTL"> </span>subsidiaries) to the extent
                reasonably necessary for the purposes set out in<span dir="RTL"> </span>this
                Policy<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                We<span dir="RTL"> </span>may
                disclose your personal information<span dir="RTL">:</span>
            </span>
        </p>

        <ol type="1" start="1">
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    As much as we are required to<span dir="RTL"> </span>do
                    by law<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    in connection with any ongoing<span dir="RTL"> </span>or
                    potential legal proceedings<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    In order to establish, exercise<span dir="RTL"> </span>or
                    defend our legal rights (including providing information to others for<span dir="RTL"> </span>the purposes of fraud prevention and credit risk
                    reduction<span dir="RTL">).</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    to the purchaser (or potential<span dir="RTL"> </span>purchaser)
                    of any business or asset that we are (or intend to) sell<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Any person we reasonably<span dir="RTL"> </span>believe
                    may apply to a court or other competent authority for disclosure<span dir="RTL"> </span>of that personal information, in our reasonable
                    discretion, and such court<span dir="RTL"> </span>or authority
                    would reasonably be able to order disclosure of that personal<span dir="RTL"> </span>information<span dir="RTL">
                        . <br>
                    </span>Except as provided in this policy, we will not provide your
                    personal<span dir="RTL"> </span>information to third parties<span dir="RTL">.</span>
                </span>
            </li>
        </ol>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        F<span dir="RTL">- </span>International
                        data transfer
                    </span>
                </u>
            </b>
        </p>

        <ol type="1" start="1">
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Information we collect may be<span dir="RTL"> </span>stored,
                    processed, or transferred between any of the countries in which we<span dir="RTL"> </span>operate to enable us to use the information in
                    accordance with this<span dir="RTL"> </span>Policy<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    The information we collect may<span dir="RTL"> </span>be
                    transferred to the following countries that are not subject to data<span dir="RTL"> </span>protection laws equivalent to those in force in the
                    European Economic<span dir="RTL"> </span>Area: the United States of
                    America, Russia, Japan, China and India<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    We cannot prevent the use or<span dir="RTL"> </span>misuse
                    of personal information by others that you post on our website or<span dir="RTL"> </span>submit for publication on our website that is
                    available online around the<span dir="RTL"> </span>world<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    You expressly consent to the<span dir="RTL"> </span>transfers
                    of personal information described in this Section F<span dir="RTL">.</span>
                </span>
            </li>
        </ol>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        g<span dir="RTL">. </span>Retention
                        of personal information
                    </span>
                </u>
            </b>
        </p>

        <ol type="1" start="1">
            <li style="text-align:justify">
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    This<span dir="RTL"> </span>Section
                    G sets out our data retention policies and procedures, which are<span dir="RTL"> </span>designed to help ensure that we comply with our
                    legal obligations<span dir="RTL"> </span>regarding the retention and
                    deletion of personal information<span dir="RTL">.</span>
                </span>
            </li>
            <li style="text-align:justify">
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Personal<span dir="RTL"> </span>information
                    that we process for any purpose or purposes may not be<span dir="RTL"> </span>retained
                    for longer than is necessary for that purpose or those<span dir="RTL"> </span>purposes<span dir="RTL">.</span>
                </span>
            </li>
            <li style="text-align:justify">
                <span dir="RTL" style="font-size:12.0pt;font-family:Times New Roman,serif">. </span><span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Without prejudice to Clause
                    G-2, we will normally delete Personal Data<span dir="RTL"> </span>that
                    falls into the categories set out below on the date/time set out<span dir="RTL"> </span>below<span dir="RTL">:</span>
                </span>
            </li>
            <ol type="1" start="1">
                <li style="text-align:justify">
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        Personal<span dir="RTL"> </span>data
                        type to be deleted in {insert time/date}; And the
                    </span>
                </li>
                <li style="text-align:justify">
                    <span dir="RTL" style="font-size:12.0pt;font-family:Times New Roman,serif">. {</span><span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        Enter additional dates and
                        times<span dir="RTL">}.</span>
                    </span>
                </li>
            </ol>
            <li style="text-align:justify">
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Notwithstanding<span dir="RTL"> </span>the
                    other provisions of this Section G, we retain documents (including<span dir="RTL"> </span>electronic documents) that contain personal data<span dir="RTL">:</span>
                </span>
            </li>
        </ol>

        <p style="margin-left:2.0in;text-align:justify;text-indent:-.25in">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                a.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span dir="RTL" style="font-size:12.0pt;font-family:Times New Roman,serif">&nbsp;</span>
        </p>

        <ol type="1" start="1">
            <ol type="1" start="4">
                <ol type="a" start="1">
                    <ol type="1" start="1">
                        <li style="text-align:justify">
                            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                                To<span dir="RTL">
                                </span>the extent required by law<span dir="RTL">.</span>
                            </span>
                        </li>
                        <li style="text-align:justify">
                            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                                If<span dir="RTL">
                                </span>we believe that these documents may be relevant to any ongoing
                                or<span dir="RTL"> </span>potential legal proceedings<span dir="RTL">.</span>
                            </span>
                        </li>
                        <li style="text-align:justify">
                            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                                In<span dir="RTL">
                                </span>order to initiate, exercise or defend our legal rights
                                (including<span dir="RTL"> </span>providing information to
                                others for the purposes of fraud prevention<span dir="RTL">
                                </span>and credit risk reduction<span dir="RTL">).</span>
                            </span>
                        </li>
                    </ol>
                </ol>
            </ol>
        </ol>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        h<span dir="RTL">. </span>Security
                        of your personal information
                    </span>
                </u>
            </b>
        </p>

        <ol type="1" start="1">
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    h. Security of Your Personal<span dir="RTL"> </span>Information
                    We undertake to take reasonable technical and organizational<span dir="RTL"> </span>precautions
                    to prevent loss, misuse or alteration of your personal<span dir="RTL"> </span>information<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    We undertake to store all<span dir="RTL"> </span>personal
                    information you provide on our secure (password and<span dir="RTL"> </span>firewall-protected)
                    servers<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    All electronic financial<span dir="RTL"> </span>transactions
                    made through our website are protected by encryption<span dir="RTL"> </span>technology<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    You acknowledge that you<span dir="RTL"> </span>agree
                    to this Policy knowing that transmission of information over the<span dir="RTL"> </span>Internet is inherently not secure, and we cannot
                    guarantee the security<span dir="RTL"> </span>of data
                    transmitted over the Internet<span dir="RTL">.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    You are responsible for<span dir="RTL"> </span>maintaining
                    the confidentiality of the password you use to access our<span dir="RTL"> </span>site.
                    We will not ask you for your password (except when you log in to<span dir="RTL"> </span>our site<span dir="RTL">).</span>
                </span>
            </li>
        </ol>

        <p style="margin-top:2.25pt"><b><u><span style="font-size:12.0pt;font-family:Times New Roman,serif">i<span dir="RTL">. </span>Adjustments</span></u></b></p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                We<span dir="RTL"> </span>may
                update this policy from time to time by posting a new version on our<span dir="RTL"> </span>website. You should check this page from time to time to
                ensure that you<span dir="RTL"> </span>understand any changes to this
                policy, and we may notify you of changes to this<span dir="RTL"> </span>policy
                by email or through the private messaging system on our website<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        j<span dir="RTL">. </span>your
                        rights
                    </span>
                </u>
            </b>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                You<span dir="RTL"> </span>may
                ask us to provide you with any personal information we hold about you, the<span dir="RTL"> </span>provision of such information being subject to<span dir="RTL">:</span>
            </span>
        </p>

        <ol type="1" start="1">
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    Payment of fees {insert fees<span dir="RTL"> </span>if
                    applicable<span dir="RTL">}.</span>
                </span>
            </li>
            <li>
                <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                    and provide the appropriate<span dir="RTL"> </span>proof
                    of identity ({modify the text to reflect your location policy, we<span dir="RTL"> </span>usually accept a notary-certified copy of your
                    passport as well as an<span dir="RTL"> </span>original utility
                    bill showing your current address<span dir="RTL">}).</span>
                </span>
            </li>
        </ol>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                We<span dir="RTL"> </span>may
                withhold personal information that you request to the extent permitted by<span dir="RTL"> </span>law<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                You<span dir="RTL"> </span>may
                ask us at any time not to process your personal information for marketing<span dir="RTL"> </span>purposes<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                In<span dir="RTL"> </span>practice,
                you will either expressly consent in advance to our use of your<span dir="RTL"> </span>personal
                information for marketing purposes, or we will give you an opportunity<span dir="RTL"> </span>to opt out of the use of your personal information for
                marketing purposes<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        K<span dir="RTL">. </span>Third
                        Party Sites
                    </span>
                </u>
            </b>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                Our<span dir="RTL"> </span>website
                contains hyperlinks and details of third party websites, although we<span dir="RTL"> </span>have no control over, and are not responsible for, the
                privacy policies and<span dir="RTL"> </span>practices of third parties<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt">
            <b>
                <u>
                    <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                        to<span dir="RTL">
                            .
                        </span>Update information
                    </span>
                </u>
            </b>
        </p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                Please<span dir="RTL"> </span>let
                us know if the personal information we hold about you needs to be corrected<span dir="RTL"> </span>or updated<span dir="RTL">.</span>
            </span>
        </p>

        <p style="margin-top:2.25pt"><b><u><span style="font-size:12.0pt;font-family:Times New Roman,serif">M<span dir="RTL">. </span>Cookies</span></u></b></p>

        <p style="margin-top:2.25pt">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                Our<span dir="RTL"> </span>site
                uses cookies. A cookie is a file containing an identifier (a<span dir="RTL"> </span>string
                of letters and numbers) that is sent by the Internet server to<span dir="RTL"> </span>the
                Internet browser and stored by the browser. The identifier is then<span dir="RTL"> </span>sent back to the server each time the browser requests a
                page from the<span dir="RTL"> </span>server. Cookies may be either
                “persistent” cookies or “session” cookies<span dir="RTL">: </span>a
                persistent cookie is stored by the Internet browser and remains valid<span dir="RTL"> </span>until its specified expiration date, unless deleted by
                the user before<span dir="RTL"> </span>the expiration date ; On the other
                hand, the session cookie expires at<span dir="RTL"> </span>the end of the user's
                session, ie by closing the internet browser<span dir="RTL">. </span>Cookies
                usually do not contain any information that personally<span dir="RTL"> </span>identifies
                a user, but the personal information we store about you may<span dir="RTL"> </span>be
                linked to information stored in and obtained from cookies. { Use<span dir="RTL"> </span>applicable
                phrases We use only session cookies / only persistent cookies<span dir="RTL">
                    /
                </span>session cookies and persistent cookies on our website<span dir="RTL">.</span>
            </span>
        </p>

        <p>
            <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">1.</span><span style="font-size: 10.0pt;font-family:Times New Roman,serif">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
                Below are the names of the cookies
                we use on our<span dir="RTL"> </span>website and the purposes for which
                they are used<span dir="RTL">:</span>
            </span>
        </p>

        <ol type="1" start="1">
            <li>
                <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
                    We use Google Analytics and<span dir="RTL"> </span>Adwords
                    on our site to recognize a<span dir="RTL"> </span>computer when a
                    user {add all uses of cookies applicable to your site}<span dir="RTL"> </span>visit
                    the website / track users as they browse the site / enable the<span dir="RTL"> </span>use of a shopping cart on the site / improve the
                    usability of the site<span dir="RTL"> / </span>analyze
                    site usage / site administration / fraud prevention and<span dir="RTL"> </span>improvement
                    of site security / personalization of the site to each user<span dir="RTL"> / </span>targeted advertising that may be of particular
                    interest to specific<span dir="RTL"> </span>users /
                    description of the purpose<span dir="RTL"> (});</span>
                </span>
            </li>
        </ol>

        <p>
            <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">2.</span><span style="font-size: 10.0pt;font-family:Times New Roman,serif">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
                Most browsers allow you to refuse to
                accept cookies — for example<span dir="RTL">:</span>
            </span>
        </p>

        <ol type="1" start="1">
            <ol type="1" start="2">
                <ol type="1" start="1">
                    <li>
                        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
                            In<span dir="RTL"> </span>Internet
                            Explorer <span dir="RTL">(</span>version<span dir="RTL"> 10), </span>you can block cookies
                            using the Cookie Override settings available<span dir="RTL"> </span>by
                            clicking on “Tools”, “Internet Options”, “Privacy”, then “Advanced<span dir="RTL">”.</span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
                            In<span dir="RTL"> </span>Firefox <span dir="RTL">(</span>version<span dir="RTL"> 24), </span>you can block all cookies by clicking on
                            “Tools”, “Options<span dir="RTL">”, “</span>Privacy”,
                            selecting “Use custom settings for history” from<span dir="RTL"> </span>the<span dir="RTL"> </span>drop-down menu, and unchecking “Accept cookies”
                            Linking from websites<span dir="RTL">.</span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
                            In<span dir="RTL"> </span>Chrome <span dir="RTL">(</span>version<span dir="RTL"> 29), </span>you can block all cookies by accessing the
                            “Customize and Control<span dir="RTL">” </span>menu,
                            clicking “Settings,” “Show advanced settings,” “Content<span dir="RTL"> </span>settings,”
                            and then selecting “Block sites from setting.” Any data under<span dir="RTL"> </span>the heading “Cookies<span dir="RTL">”.</span>
                        </span>
                    </li>
                </ol>
            </ol>
        </ol>

        <p>
            <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">3.</span><span style="font-size: 10.0pt;font-family:Times New Roman,serif">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
                Blocking<span dir="RTL"> </span>all
                cookies will have a negative impact on the usability of many sites<span dir="RTL">. </span>If you block cookies, you will not be able to use all
                the features on<span dir="RTL"> </span>our website. You can delete cookies
                already stored on your computer<span dir="RTL"> – </span>for
                example<span dir="RTL">:</span>
            </span>
        </p>

        <p style="margin-left:1.5in;text-indent:-.25in">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span style="font-size: 10.0pt;font-family:Helvetica,sans-serif">
                In
                Internet<span dir="RTL"> </span>Explorer (version 10), you must delete cookies manually
                (you can<span dir="RTL"> </span>find instructions for doing this at<span dir="RTL"> </span>
            </span><span dir="RTL" style="font-size:12.0pt;font-family:Times New Roman,serif">
                <a href="http://support.microsoft.com/kb/278835">
                    <span dir="LTR" style="font-size:10.0pt;font-family:Helvetica,sans-serif;color:blue">
                        http://support.microsoft.com/kb/278835
                    </span>
                </a>
            </span><span dir="RTL" style="font-size:10.0pt;font-family:Helvetica,sans-serif">);</span>
        </p>

        <p style="margin-left:1.5in;text-indent:-.25in">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span style="font-size: 10.0pt;font-family:Helvetica,sans-serif">
                In
                Firefox<span dir="RTL"> </span>( version<span dir="RTL"> 24), </span>you
                can delete cookies by clicking on “Tools”, “Options” and<span dir="RTL">
                    “
                </span>Privacy”, then selecting “Use custom settings for history”, clicking<span dir="RTL"> “</span>Show cookies”, then clicking on “Remove” “All cookies<span dir="RTL">”;</span>
            </span>
        </p>

        <p style="margin-left:1.5in;text-indent:-.25in">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span style="font-size: 10.0pt;font-family:Helvetica,sans-serif">
                In<span dir="RTL"> </span>Chrome <span dir="RTL">(</span>version<span dir="RTL"> 29), </span>you can delete all cookies by accessing the
                “Customize and<span dir="RTL"> </span>Control” menu, clicking “Settings,”
                “Show advanced settings,” “Clear<span dir="RTL"> </span>browsing data,” and
                then selecting “Delete cookies.” Link and other site<span dir="RTL"> </span>and
                plug-in data” before you click on “Clear browsing data<span dir="RTL">”.</span>
            </span>
        </p>

        <p style="margin-left:1.5in;text-indent:-.25in">
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span style="font-size: 10.0pt;font-family:Helvetica,sans-serif">
                Deleting
                cookies will have a negative impact on the usability of men's websites
            </span>
        </p>

        <p>
            <span style="font-size:12.0pt;font-family:Times New Roman,serif">
                <br>
                <b>Delete Your Account:</b>
            </span>
        </p>

        <p>
            <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
                You<span dir="RTL"> </span>can
                find Imtenan app under Apps in your Facebook profile. You can<span dir="RTL"> </span>simply
                remove/delete it and click Send Request button on the Settings<span dir="RTL">
                    &amp;
                </span>Privacy<span dir="RTL"> &gt; </span>Settings<span dir="RTL"> &gt; </span>Apps and Websites page to notify<span dir="RTL"> </span>Imtenan
                app to remove your Facebook data
            </span>
        </p>

        &nbsp; <br>
    </typing-node>
</div>