@{
    Layout = "CustomerLayout";
}
<div>
    <div class="confirmation-wrapper pt-4 text-center" fragment="168a481d2d5">
        <h5>Your Feedback submitted successfully </h5> 
       
        <img loading="lazy" src="~/Image/confirmation-bag.png" class="img-fluid"> <!----> 

        <div class="confirmation-btns mt-3">
            <a asp-action="TrendingProducts" asp-controller="Home"><button class="btn btn-secondary d-block">
                Continue Shopping</button>
    </a>
        </div>
</div>
</div>