<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Add Shop</title>
  <link rel="stylesheet" href="css/admin.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/addshop.css">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

  <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand">
      <i class='bx bxs-smile'></i>
      <span class="text">Efresh Beitak</span>
    </a>
    <ul class="side-menu top">
      <li>
        <a href="admin.html">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="orders1.html">
          <i class='bx bx-list-ul'></i>
          <span class="text">Order List </span>
        </a>
      </li>
      <li>
        <a href="addseller.html">
          <i class='bx bx-list-plus'></i>
          <span class="text">Add Seller</span>
        </a>
      </li>
      <li class="active">
        <a href="addshop.html">
          <i class='bx bx-list-plus'></i>
          <span class="text">Add Shop</span>
        </a>
      </li>
      <li>
        <a href="seller details.html">
          <i class='bx bxs-group'></i>
          <span class="text">Seller Details</span>
        </a>
      </li>
    </ul>
  </section>

  <!-- SIDEBAR -->

<!-- NAVBAR -->
  <section id="content">
		<nav>
			<i class='bx bx-menu' ></i>
		</nav>
  </section>
<!-- NAVBAR -->
<!--ADD SHOP FORM-->
<div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
  <div id="address" role="tabpanel" aria-labelledby="address-tab">
    <h3 class="mb-4">Add Shop</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Shop Name</label>
          <input type="text" class="form-control" placeholder="Shop Name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Tax Card</label>
          <input type="text" class="form-control" placeholder="Tax Card">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Shop Holder</label>
          <input type="text" class="form-control" placeholder="Shop Holder">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" placeholder="Address">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Phone Number</label>
          <input type="number" class="form-control" placeholder="Phone Number">
        </div>
      </div>
      <input type="submit" class="btnRegister" value="Save" href="default address.html">
    </div>
  </div>
</div>
<!-- SCRIPT -->
<script src="js/script.js"></script>
</body>

</html>