<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/favicon.ico" href="/image/favicon.png">

  <link rel="stylesheet" href="css/contact us.css">
  <link rel="stylesheet" href="css/admin.css">
  <!--ICONS LINK-->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Efresh Beitak</title>
  </head>

  <body>
    <section id="sidebar">
      <a href="#" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">Efresh Beitak</span>
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a href="admin.html">
            <i class='bx bxs-dashboard' ></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="orders1.html">
            <i class='bx bx-list-ul'></i>
            <span class="text">Order List </span>
          </a>
        </li>
        <li>
          <a href="addseller.html">
            <i class='bx bx-list-plus'></i>
            <span class="text">Add Seller</span>
          </a>
        </li>
        <li>
          <a href="addshop.html">
            <i class='bx bx-list-plus'></i>
            <span class="text">Add Shop</span>
          </a>
        </li>
        <li>
          <a href="seller details.html">
            <i class='bx bxs-group' ></i>
            <span class="text">Seller Details</span>
          </a>
        </li>
        <li CLASS="active">
          <a href="contact us.html">
            <i class='bx bxs-group' ></i>
            <span class="text">CONTACT US </span>
          </a>
        </li>
      </ul>
    </section>
  <section class="main-home">
    <div class="grid-container">
      <div class="item1">
        <div class="breadcrumb">
          <ul class="breadcrumb">
            <li><a href="main.html"><i class='bx bx-home'></i></a></li>
            <li><a href="contact us.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="item2">
        <div class="container">
          <div class="content">
            <div class="left-side">
              <div class="social details">
                <a href="#"> <i class='bx bxl-gmail bx-tada' ></i> </a><br>
                <a href="#"><i class='bx bxl-facebook bx-tada' ></i></a><br>
                <a href="#"><i class='bx bxl-instagram-alt bx-tada'></i></a><br>
                <a href="#"><i class='bx bxl-youtube bx-tada' ></i></a><br>
                <a href="#"><i class='bx bxl-whatsapp-square bx-tada' ></i></a>
              </div>
            </div>
            <div class="right-side">
              <div class="topic-text">Send us a message</div>
              <br>
              <form action="#">
                <div class="input-box">
                  <input type="text" placeholder="Enter your first name">
                </div>
                <div class="input-box">
                  <input type="text" placeholder="Enter your last name">
                </div>
                <div class="input-box">
                  <input type="text" placeholder="Phone">
                </div>
                
                <div class="input-box">
                  <input type="text" placeholder="Enter your email">
                </div>
                <div class="input-box message-box">
                  <textarea placeholder="Enter your message"></textarea>
                </div>
                <div class="button">
                  <input type="button" value="Send Now">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="js/script.js"></script>
 </body>

</html>
