@model AdminVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Admin</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="~/css/seller details.css">
    <!-- SCRIPT -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <section id="sidebar">
        <a asp-action="TrendingProducts" asp-controller="Home" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Efresh Beitak</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a asp-action="Index" asp-controller="Admin">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-action="Orders" asp-controller="Admin">
                    <i class='bx bx-list-ul'></i>
                    <span class="text">Order List </span>
                </a>
            </li>
            <li>
                <a asp-action="AddStaff" asp-controller="Admin">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Seller</span>
                </a>
            </li>
            <li>
                <a asp-action="AddShop" asp-controller="Admin">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Shop</span>
                </a>
            </li>
            <li>
                <a asp-action="AddAdmin">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Admin</span>
                </a>
            </li>
            <li>
                <a asp-action="Logout" asp-controller="Account" class="nav-link" role="tab">
                    <i class="fa fa-user text-center mr-1"></i>
                    Log Out
                </a>
            </li>

            <!--Why Seller Details-->
            <li class="active">
                <a asp-action="SellerDetails" asp-controller="Admin">
                    <i class='bx bxs-group'></i>
                    <span class="text">Seller Details</span>
                </a>
            </li>
        </ul>
    </section>
    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
        </nav>
    </section>
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <form asp-action="AddAdmin" asp-controller="Admin">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="user-details">
                    <div class="input-box">
                        <input asp-for="FirstName" type="text" placeholder="Enter your first name ">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="LastName" type="LastName" placeholder="Enter your last name">
                        <span asp-validation-for="LastName"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="Username" type="Username" placeholder="Enter your Username ">
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="Email" type="Email" placeholder="Enter your email">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="Password" type="password" placeholder="Enter your password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="ConfirmPassword" type="ConfirmPassword" placeholder="Confirm your Password">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="Age" type="Age" placeholder="Enter your Age">
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="Birthdate" class="form-control" placeholder="Birthdate" />
                        <span asp-validation-for="Birthdate" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        @*<label asp-for="Gender">Gender</label>*@
                        <select asp-for="Gender" class="form-control">
                            <option value="null">Gender</option>
                            <option>
                                Male
                            </option>
                            <option>
                                Female
                            </option>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </select>
                    </div>

                </div>

                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
            <div class="forget">
                Already have an account?
            </div>

            <div class="forget">
                <a asp-action="Login" asp-controller="Account">Login</a>
            </div>
        </div>
    </div>

</body>
</html>