@{
    Layout = "AdminLayout";
}


@model EfrashBatek.Models.Shop
@{
    ViewData["Title"] = "AddShop";
}
<!--ADD SHOP FORM-->
<section class="home-section">

    <form asp-action="SaveShop">
        <div asp-validation-summary="All"></div>
        <div class="form">

            <div class="title">Add Shop </div>
            <div class="input-container ic1">
                <input asp-for="Name" class="input" type="text" placeholder=" " />
                <label asp-for="Name" for="Name" class="placeholder">Shop Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-container ic2">
                <input asp-for="TaxCardNumber" id="TaxCardNumber" class="input" type="text" placeholder=" " />
                <label asp-for="TaxCardNumber" for="TaxCardNumber" class="placeholder">Tax Card Number</label>
                <span asp-validation-for="TaxCardNumber" class="text-danger"></span>

            </div>
            <div class="input-container ic2">
                <input asp-for="ShopHolder" id="ShopHolder" class="input" type="text" placeholder=" " />
                <label asp-for="ShopHolder" for="ShopHolder" class="placeholder">Shop Holder</label>
                <span asp-validation-for="ShopHolder" class="text-danger"></span>

            </div>

            <div class="input-container ic2">
                <input asp-for="ShopAddress" id="ShopAddress" class="input" type="text" placeholder=" " />
                <label asp-for="ShopAddress" for="ShopAddress" class="placeholder">Address</label>
                <span asp-validation-for="ShopAddress" class="text-danger"></span>

            </div>
            <div class="input-container ic2">
                <input asp-for="PhoneNumber" id="email" class="input" type="text" placeholder=" " />
                <label asp-for="PhoneNumber" for="PhoneNumber" class="placeholder">Phone number</label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <input type="submit" value="Add Shop" class="submit" />
        </div>
    </form>

</section>
