@model EfrashBatek.ViewModel.RegisterViewModelStaff
@{
    Layout = "";
}
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Add Seller </title>
    <link rel="stylesheet" href="~/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- BOOTSTRAB -->
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/addseller.css">
</head>

<body>
    <!-- NAVBAR -->
    <!--ADD SELLER FORM-->
    <!--Layout -->
<section id="sidebar">
    <a asp-action="TrendingProducts" asp-controller="Home" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">Efresh Beitak</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a asp-action="Dashboard">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a asp-action="Orders">
                <i class='bx bx-list-ul'></i>
                <span class="text">Order List </span>
            </a>
        </li>
        <li class="active">
            <a asp-action="AddStaff">
                <i class='bx bx-list-plus'></i>
                <span class="text">Add Seller</span>
            </a>
        </li>
        <li>
            <a asp-action="AddShop">
                <i class='bx bx-list-plus'></i>
                <span class="text">Add Shop</span>
            </a>
        </li>
        <!--Why Seller Details-->
        <li>
            <a>
                <i class='bx bxs-group'></i>
                <span class="text">Seller Details</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->
<!-- NAVBAR -->
<section id="content">
    <nav>
        <i class='bx bx-menu'></i>
    </nav>
</section>
      <section>
   <form asp-action="SaveStaff" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
        <div id="address" role="tabpanel" aria-labelledby="address-tab">
            <h3 class="mb-4">Add Seller</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Last Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Age"></label>
                        <input asp-for="Age" type="text" class="form-control" placeholder="Age">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="ConfirmPassword">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ShopNumber"></label>
                        <input asp-for="ShopNumber" type="text" class="form-control" placeholder="Shop Number">
                    </div>
                </div>
                <input type="submit" class="btnRegister" value="Save" href="default address.html">
            </div>
        </div>
    </div>
    </form>
    </section>
    <!-- SCRIPT -->
    <script src="~/js/script.js"></script>
    </body>
    </html>