<html lang="en" dir="ltr">
    <head>
    <meta charset="UTF-8">
    <title> Add Shop</title>
    <link rel="stylesheet" href="~/css/admin.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
<body>
    <!-- NAVBAR -->
    <!--ADD SELLER FORM-->
    <!--Layout -->
    <section id="sidebar">
        <a asp-action="TrendingProducts" asp-controller="Home" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Efresh Beitak</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a asp-action="Dashboard">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-action="Orders">
                    <i class='bx bx-list-ul'></i>
                    <span class="text">Order List </span>
                </a>
            </li>
            <li class="active">
                <a asp-action="AddStaff">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Seller</span>
                </a>
            </li>
            <li>
                <a asp-action="AddShop">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Shop</span>
                </a>
            </li>
            <!--Why Seller Details-->
            <li>
                <a>
                    <i class='bx bxs-group'></i>
                    <span class="text">Seller Details</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->
    <!-- NAVBAR -->
    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
        </nav>
    </section>
   @RenderBody();
    @*<script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
          sidebar.classList.toggle("active");
          if (sidebar.classList.contains("active")) {
            sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
          } else
            sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>*@
    
<script src="~/js/script.js"></script>
</body>
<!-- SCRIPT -->
</html>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}