@model EfrashBatek.Models.Shop

@{
    ViewData["Title"] = "EditShop";
}

<h1>Edit Shop</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEditShop">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Shop Name</label>
                <input asp-for="Name" class="form-control" value="@Model.Name"  />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopAddress" class="control-label">Address</label>
                <input asp-for="ShopAddress" class="form-control" value="@Model.ShopAddress"  />
                <span asp-validation-for="ShopAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxCardNumber" class="control-label">Tax Card</label>
                <input asp-for="TaxCardNumber" class="form-control" value="@Model.TaxCardNumber" />
                <span asp-validation-for="TaxCardNumber" class="text-danger"></span>
            </div>
            
                
           
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
