@{
    Layout = null;
}
@model User 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Details</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="~/css/seller details.css">
    <!-- SCRIPT -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a asp-action="TrendingProducts" asp-controller="Home" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Efresh Beitak</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a asp-action="Index" asp-controller="Admin">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-action="Orders" asp-controller="Admin">
                    <i class='bx bx-list-ul'></i>
                    <span class="text">Order List </span>
                </a>
            </li>
            <li class="active">
                <a asp-action="AddStaff" asp-controller="Admin">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Seller</span>
                </a>
            </li>
            <li>
                <a asp-action="AddShop" asp-controller="Admin">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Shop</span>
                </a>
            </li>
            <!--Why Seller Details-->
            <li>
                <a asp-action="SellerDetails" asp-controller="Admin">
                    <i class='bx bxs-group'></i>
                    <span class="text">Seller Details</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->
    <!-- NAVBAR -->
    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
        </nav>
    </section>
    <!-- NAVBAR -->
    <!-- ORDER DETAILS -->
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Seller Details</h2>
            </div>

            <table>
                <thead>
                    <tr>

                        <td>Name</td>
                        <td>Email</td>
                        <td>Age</td>
                        <td>Phone</td>
                     
                    </tr>
                </thead>
                <form asp-action="EditSellerr" asp-controller="Admin">
                <tbody>
                    <tr>
                        <td>
                            <input asp-for="FirstName" type="text" class="form-control" value="@Model.FirstName">

                        </td>
                        <td> <input asp-for="Email" type="text" class="form-control" value="@Model.Email"></td>
                        <td> <input asp-for="age" type="text" class="form-control" value="@Model.age"></td>
                        <td> <input asp-for="PhoneNumber" type="text" class="form-control" value="@Model.PhoneNumber"> </td>

                        <td>
                               
                            <input class="btn btn-primary" value="Save Changes" type="submit" style="

								background-color: #cbaab1;
								border-color: #cbaab1;">


                        </td>
                   
                        
                    </tr>



                </tbody>
                </form>
              
            </table>
        </div>

        <!-- SCRIPT -->
        <script src="~/js/script.js"></script>
</body>

</html>